{
    "swagger": "2.0",
    "info": {
        "title": "Imperva API1 WAF",
        "description": "Imperva API1 WAF",
        "version": "2.0.0",
        "termsOfService": "https://www.imperva.com/legal/terms-of-use/",
        "contact": {
            "email": "support@imperva.com"
        }
    },
    "externalDocs": {
        "description": "Find out more about Imperva",
        "url": "http://docs.imperva.com"
    },
    "host": "my.imperva.com",
    "basePath": "/api",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/x-www-form-urlencoded"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "api_id": {
            "type": "apiKey",
            "in": "query",
            "name": "api_id"
        },
        "api_key": {
            "type": "apiKey",
            "in": "query",
            "name": "api_key"
        }
    },
    "security": [
        {
            "api_id": [],
            "api_key": []
        }
    ],
    "paths": {
        "/prov/v1/account": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the account to operate on. If not specified, operation will be performed on the account identified by the authentication parameters.",
                        "in": "formData",
                        "name": "account_id",
                        "type": "integer",
						"required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "account":{
                                "email":"demo_account@incapsula.com",
                                "plan_id":"ent100",
                                "plan_name":"Enterprise",
                                "trial_end_date":"May 28, 2014",
                                "account_id":4722,
                                "ref_id":"123456",
                                "user_name":"John Doe",
                                "account_name":"Demo Account",
                                "logins": {
                                    "login_id":1243,
                                    "email":"demo_account@incapsula.com",
                                    "email_verified":true
                                },
                                "support_level": "Managed",
                                "support_all_tls_versions": "false"
                            },
                            "res":0,
                            "res_message":"OK"
                        }
                    }
                }
            }
        },
        "/prov/v1/accounts/add": {
            "post": {
                "parameters": [
                    {
                    	"description":"Email address. For example: \"joe@example.com\".",
                        "in": "formData",
                        "name": "email",
                        "type": "string",
                        "required": true
                    },
                    {
                    	"description":"The newly created account's parent id. If not specified, the invoking account will be assigned as the parent.",
                        "in": "formData",
                        "name": "parent_id",
                        "type": "integer",
						"required": false
                    },
                    {
                    	"description":"The account owner's name. For example: \"John Doe\".",
                        "in": "formData",
                        "name": "user_name",
                        "type": "string",
						"required": false
                    },
                    {
                    	"description":"An identifier of the plan to assign to the new account. For example, ent100 for the Enterprise 100 plan.",
                        "in": "formData",
                        "name": "plan_id",
                        "type": "string",
						"required": false
                    },
                    {
                    	"description":"Customer specific identifier for this operation.",
                        "in": "formData",
                        "name": "ref_id",
                        "type": "string",
						"required": false
                    },
                    {
                    	"description":"Account name.",
                        "in": "formData",
                        "name": "account_name",
                        "type": "string",
						"required": false
                    },
                    {
                    	"description":"Sets the log reporting level for the site. Possible values: full, security, none, default. Available only for customers that purchased the Logs Integration SKU.",
                        "in": "formData",
                        "name": "log_level",
                        "type": "string",
                        "enum":["default","none","full","security"],
						"required": false
                    },
                    {
                    	"description":"Numeric identifier of the account that purchased the logs integration SKU and which collects the logs. If not specified, operation will be performed on the account identified by the authentication parameters. Available only for customers that purchased the Logs Integration SKU.",
                        "in": "formData",
                        "name": "logs_account_id",
                        "type": "integer",
						"required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "account":{
                                "email":"demo_account@incapsula.com",
                                "plan_id":"ent100",
                                "account_id":4722,
                                "user_name":"John Doe",
                                "account_name":"Demo Account",
                                "logins": {
                                    "login_id":1243,
                                    "email":"demo_account@incapsula.com",
                                    "email_verified":true
                                }
                            },
                            "res":0,
                            "res_message":"OK"
                        }
                    }
                }
            }
        },
        "/prov/v1/accounts/configure": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the account to operate on. If not specified, operation will be performed on the account identified by the authentication parameters.",
                        "in": "formData",
                        "name": "account_id",
                        "type": "integer",
						"required": false
                    },
                    {
                    	"description":"Name of the configuration parameter to set.\n\nPossible values: name | email | plan_id | error_page_template | support_all_tls_versions | naked_domain_san_for_new_www_sites | wildcard_san_for_new_sites | ref_id\n\nNote: plan_id, email, and error_page_template parameters are available for Reseller account only.",
                        "in": "formData",
                        "name": "param",
                        "type": "string",
                        "enum":["name","email","plan_id","error_page_template","support_all_tls_versions","naked_domain_san_for_new_www_sites","wildcard_san_for_new_sites","ref_id"],
						"required": true                        
                    },
                    {
                    	"description":"According to the configuration paramater used.\n\nFor name - the updated name, for e-mail - the updated e-mail address.\n\nFor plan_id - a plan id.\n\nFor error_page_template - a Base64 encoded template for an error page.\n\nFor log_level - Available only for customers that purchased the Logs Integration SKU. Sets the log reporting level for the site. Possible values: full, security, none, default\n\nFor support_all_tls_versions - Use this operation to allow sites in the account to support all TLS versions for connectivity between clients (visitors) and the Imperva service. When this option is set, you can then enable the option per site to support all TLS versions. Possible values: true, false. Note: To remain PCI-compliant, do not enable this option.\n\nFor naked_domain_san_for_new_www_sites - Use this option to determine if the naked domain SAN will be added to the SSL certificate for new www sites. Default value: true\n\nFor wildcard_san_for_new_sites - Use this option to determine if the wildcard SAN or the full domain SAN is added to the Imperva SSL certificate for new sites. Possible values: true, false, default (determined by plan) Default value: default\n\nFor ref_id - Sets the Reference ID, a free-text field that enables you to add a unique identifier to correlate an object in our service, such as a protected website, with an object on the customer side. ",
                        "in": "formData",
                        "name": "value",
                        "type": "string",
						"required": true                        
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                                "email": "admin@example.com"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/accounts/data-privacy/set-region-default": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the account to operate on.",
                        "in": "formData",
                        "name": "account_id",
                        "type": "integer",
						"required": true
                    },
                    {
                        "description":"The data region to use.",
                        "in": "formData",
                        "name": "data_storage_region",
                        "type": "string",
                        "enum":["APAC","EU","US","DEFAULT"],
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK"
                        }
                    }
                }
            }
        },
        "/prov/v1/accounts/data-privacy/show": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the account to operate on.",
                        "in": "formData",
                        "name": "account_id",
                        "type": "integer",
						"required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example": {
                            "region": "EU",
                            "res":0,
                            "res_message":"OK"
                        }
                    }
                }
            }
        },
        "/prov/v1/accounts/delete": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the sub account to operate on.",
                        "in": "formData",
                        "name": "sub_account_id",
                        "type": "integer",
						"required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK"
                        }
                    }
                }
            }
        },
        "/prov/v1/accounts/gettoken": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the account to operate on.  \n\nIn order to use the token, the user must use the following link:\n\nhttps://my.imperva.com/?token={generated_token}",
                        "in": "formData",
                        "name": "account_id",
                        "type": "integer",
						"required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK",
                            "generated_token": "344ebcaf34dff34"
                        }
                    }
                }
            }
        },
        "/prov/v1/accounts/list": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the account to operate on. If not specified, operation will be performed on the account identified by the authentication parameters.",
                        "in": "formData",
                        "name": "account_id",
                        "type": "integer",
						"required": false
                    },
                    {
                    	"description":"The number of objects to return in the response. Default is 50. Maximum: 100",
                        "in": "formData",
                        "name": "page_size",
                        "type": "integer",
                        "enum":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100],
						"required": false
                    },
                    {
                    	"description":"The page to return starting from 0. Default is 0.",
                        "in": "formData",
                        "name": "page_num",
                        "type": "integer",
						"required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "accounts":[
                                {
                                    "parent_id":123,
                                    "email":"demo_account@incapsula.com",
                                    "plan_id":"ent100",
                                    "account_id":4722,
                                    "user_name":"John Doe",
                                    "account_name":"Demo Account",
                                    "logins": {
                                        "login_id":1243,
                                        "email":"demo_account@incapsula.com",
                                        "email_verified":true
                                    }
                                }
                            ],
                            "res":0,
                            "res_message":"OK"
                        }
                    }
                }
            }
        },
        "/prov/v1/accounts/setlog": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the account to operate on. If not specified, operation will be performed on the account identified by the authentication parameters.",
                        "in": "formData",
                        "name": "account_id",
                        "type": "integer",
						"required": false
                    },
                    {
                    	"description":"Sets the log reporting level for the site. Possible values: full, security, none, default. Available only for customers that purchased the Logs Integration SKU.",
                        "in": "formData",
                        "name": "log_level",
                        "type": "string",
                        "enum":["default","none","full","security"],
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                                "log_level": "full"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/accounts/setAmazonSiemStorage": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the account to operate on.",
                        "in": "formData",
                        "name": "account_id",
                        "type": "integer",
						"required": true
                    },
                    {
                    	"description":"S3 bucket name.",
                        "in": "formData",
                        "name": "bucket_name",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"S3 access key.",
                        "in": "formData",
                        "name": "access_key",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"S3 secret key.",
                        "in": "formData",
                        "name": "secret_key",
                        "type": "string",
						"required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                               "message": "Configuration was successfully updated"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/accounts/setSftpSiemStorage": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the account to operate on.",
                        "in": "formData",
                        "name": "account_id",
                        "type": "integer",
						"required": true
                    },
                    {
                    	"description":"The IP address of your SFTP server.",
                        "in": "formData",
                        "name": "host",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"A user name that will be used to log in to the SFTP server.",
                        "in": "formData",
                        "name": "user_name",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"A corresponding password for the user account used to log in to the SFTP server.",
                        "in": "formData",
                        "name": "password",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"The path to the directory on the SFTP server.",
                        "in": "formData",
                        "name": "destination_folder",
                        "type": "string",
						"required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                                "message": "Configuration was successfully updated"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/accounts/setDefaultSiemStorage": {
            "post": {
                "parameters": [
                    {
                        "description":"Numeric identifier of the account to operate on.",
                        "in": "formData",
                        "name": "account_id",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                               "message": "Configuration was successfully updated"
                            }
                        }
                    }
                }
            }
        },        
        "/prov/v1/accounts/subscription": {
            "post": {
                "parameters": [
                    {
                        "description":"Numeric identifier of the account to operate on.",
                        "in": "formData",
                        "name": "account_id",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "planStatus": {
                            "accountId": 12345,
                            "accountName": "demo_account@incapsula.com",
                            "websiteProtection": {
                                "name": "Website Protection",
                                "planSectionRows": [
                                    {
                                        "name": "Additional Sites",
                                        "purchased": "100",
                                        "used": "2"
                                    },
                                    {
                                        "name": "Load Balancing (old)",
                                        "purchased": "0",
                                        "used": "0"
                                    },
                                    {
                                        "name": "Additional Login Protect Users",
                                        "purchased": "5",
                                        "used": "0"
                                    }
                                ]
                            },
                            "infrastructureProtection": {
                                "name": "Infrastructure Protection",
                                "planSectionRows": [
                                    {
                                        "name": "On Demand Bandwidth (Clean traffic)",
                                        "purchased": "0",
                                        "used": ""
                                    },
                                    {
                                        "name": "GRE Tunnel Pairs",
                                        "purchased": "0  ",
                                        "used": "0"
                                    }
                                ]
                            },
                            "dnsProtection": {
                                "name": "DNS Protection",
                                "planSectionRows": [
                                    {
                                        "name": "Additional DNS Zones",
                                        "purchased": "0",
                                        "used": "0"
                                    }
                                ]
                            },
                            "additionalServices": {
                                "name": "Additional Services",
                                "planSectionRows": [
                                    {
                                        "name": "Always On Bandwidth (Clean traffic)",
                                        "purchased": "10Mbps",
                                        "used": "N/A"
                                    },
                                    {
                                        "name": "DDoS Protection",
                                        "purchased": "None",
                                        "used": ""
                                    },
                                    {
                                        "name": "Support Level",
                                        "purchased": "Standard",
                                        "used": "Standard"
                                    },
                                    {
                                        "name": "SIEM Integration",
                                        "purchased": "10",
                                        "used": "0"
                                    },
                                    {
                                        "name": "Web Attack Analytics",
                                        "purchased": "0",
                                        "used": ""
                                    }
                                ]
                            }
                        },
                        "bandwidthHistory": [
                            {
                                "billingCycle": "Current billing cycle",
                                "onDemandBandwidth": "0bps",
                                "alwaysOnBandwidth": "3.5kbps"
                            },
                            {
                                "billingCycle": "Previous billing cycle",
                                "onDemandBandwidth": "0bps",
                                "alwaysOnBandwidth": "15kbps"
                            },
                            {
                                "billingCycle": "Earlier billing cycle",
                                "onDemandBandwidth": "0bps",
                                "alwaysOnBandwidth": "7.7kbps"
                            }
                        ],
                        "res": 0,
                        "res_message": "OK"
                    }
                }
            }
        },
        "/prov/v1/accounts/testS3Connection": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the account to operate on.",
                        "in": "formData",
                        "name": "account_id",
                        "type": "integer",
						"required": true
                    },
                    {
                    	"description":"S3 bucket name.",
                        "in": "formData",
                        "name": "bucket_name",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"S3 access key.",
                        "in": "formData",
                        "name": "access_key",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"S3 secret key.",
                        "in": "formData",
                        "name": "secret_key",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"Save this configuration if the test connection was successful. Default value: false ",
                        "in": "formData",
                        "name": "save_on_success",
                        "type": "boolean",
						"required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                                "message": "Test connection succeeded"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/accounts/testSftpConnection": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the account to operate on.",
                        "in": "formData",
                        "name": "account_id",
                        "type": "integer",
						"required": false
                    },
                    {
                    	"description":"The IP address of your SFTP server.",
                        "in": "formData",
                        "name": "host",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"A user name that will be used to log in to the SFTP server.",
                        "in": "formData",
                        "name": "user_name",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"A corresponding password for the user account used to log in to the SFTP server.",
                        "in": "formData",
                        "name": "password",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"The path to the directory on the SFTP server.",
                        "in": "formData",
                        "name": "destination_folder",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"Save this configuration if the test connection was successful. Default value: false",
                        "in": "formData",
                        "name": "save_on_success",
                        "type": "string",
						"required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                                "message": "Test connection succeeded"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/ddos-protection/edge-ip/add/ip": {
            "post": {
                "parameters": [
                    {
                    	"description":"Public origin IP to onboard to service",
                        "in": "formData",
                        "name": "origin_id",
                        "type": "string",
						"required": true                        
                    },
                    {
                    	"description":"Provide 'true' to enable the Proxy Protocol setting (disabled by default)",
                        "in": "formData",
                        "name": "enable_ha_protocol",
                        "type": "boolean",
						"required": false
                    },
                    {
                    	"description":"Optional description for the generated Edge IP",
                        "in": "formData",
                        "name": "description",
                        "type": "string",
						"required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "origin_ip": "1.2.3.4",
                            "edge_ip": "172.17.14.1",
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                                "id-info": "999999"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/ddos-protection/edge-ip/add/cname": {
            "post": {
                "parameters": [
                    {
                    	"description":"CNAME record to onboard to service",
                        "in": "formData",
                        "name": "cname",
                        "type": "string",
						"required": true                        
                    },
                    {
                    	"description":"Provide 'true' to enable the Proxy Protocol setting (disabled by default)",
                        "in": "formData",
                        "name": "enable_ha_protocol",
                        "type": "boolean",
						"required": false
                    },
                    {
                    	"description":"Optional description for the generated Edge IP",
                        "in": "formData",
                        "name": "description",
                        "type": "string",
						"required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "cname": "imperva.test.com",
                            "edge_ip": "172.17.14.1",
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                                "id-info": "999999"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/ddos-protection/edge-ip/add/dns-with-ip": {
            "post": {
                "parameters": [
                    {
                    	"description":"Domain name to onboard to service",
                        "in": "formData",
                        "name": "dns_name",
                        "type": "string",
						"required": true                        
                    },
                    {
                    	"description":"Public origin IP to onboard to service",
                        "in": "formData",
                        "name": "origin_ip",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"Provide 'true' to disable DNS resolution check (enabled by default)",
                        "in": "formData",
                        "name": "disable_dns_check ",
                        "type": "boolean",
						"required": false
                    },
                    {
                    	"description":"Provide 'true' to enable the Proxy Protocol setting (disabled by default)",
                        "in": "formData",
                        "name": "enable_ha_protocol",
                        "type": "boolean",
						"required": false
                    },
                    {
                    	"description":"Optional description for the generated Edge IP",
                        "in": "formData",
                        "name": "description",
                        "type": "string",
						"required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "resolved_ips": [
                                "157.166.226.25",
                                "157.166.248.11",
                                "157.166.249.10"
                            ],
                            "origin_ip": "157.166.249.10",
                            "edge_ip": "172.17.14.1",
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                                "id-info": "999999"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/ddos-protection/edge-ip/add/dns-with-cname": {
            "post": {
                "parameters": [
                    {
                    	"description":"Domain name to onboard to service",
                        "in": "formData",
                        "name": "dns_name",
                        "type": "string",
						"required": true                        
                    },
                    {
                    	"description":"CNAME record to onboard to service",
                        "in": "formData",
                        "name": "cname",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"Provide 'true' to disable DNS resolution check (enabled by default)",
                        "in": "formData",
                        "name": "disable_dns_check ",
                        "type": "boolean",
						"required": false
                    },
                    {
                    	"description":"Provide 'true' to enable the Proxy Protocol setting (disabled by default)",
                        "in": "formData",
                        "name": "enable_ha_protocol",
                        "type": "boolean",
						"required": false
                    },
                    {
                    	"description":"Optional description for the generated Edge IP",
                        "in": "formData",
                        "name": "description",
                        "type": "string",
						"required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "resolved_cnames": [
                                "imperva.test.com"
                            ],
                            "cname": "imperva.test.com",
                            "edge_ip": "172.17.14.1",
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                                "id-info": "999999"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/ddos-protection/edge-ip/edit/ip": {
            "post": {
                "parameters": [
                    {
                    	"description":"Public origin IP to onboard to service",
                        "in": "formData",
                        "name": "origin_ip",
                        "type": "string",
						"required": true                        
                    },
                    {
                    	"description":"Imperva generated Edge IP",
                        "in": "formData",
                        "name": "edge_ip",
                        "type": "string",
						"required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "origin_ip": "5.6.7.8",
                            "edge_ip": "172.17.14.1",
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                                "id-info": "999999"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/ddos-protection/edge-ip/edit/cname": {
            "post": {
                "parameters": [
                    {
                    	"description":"CNAME to onboard to service",
                        "in": "formData",
                        "name": "cname",
                        "type": "string",
						"required": true                        
                    },
                    {
                    	"description":"Imperva generated Edge IP",
                        "in": "formData",
                        "name": "edge_ip",
                        "type": "string",
						"required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "cname": "imperva.test.com",
                            "edge_ip": "172.17.14.1",
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                                "id-info": "999999"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/ddos-protection/edge-ip/edit/dns-with-ip": {
            "post": {
                "parameters": [
                    {
                    	"description":"Public origin IP to onboard to service",
                        "in": "formData",
                        "name": "origin_ip",
                        "type": "string",
						"required": true                        
                    },
                    {
                    	"description":"Domain name to onboard to service",
                        "in": "formData",
                        "name": "dns_name",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"Imperva generated Edge IP",
                        "in": "formData",
                        "name": "edge_ip",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"Provide 'true' to disable DNS resolution check (enabled by default)",
                        "in": "formData",
                        "name": "disable_dns_check",
                        "type": "boolean",
						"required": false
                    }                
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "resolved_ips": [
                                "157.166.226.25",
                                "157.166.248.11",
                                "157.166.249.10"
                            ],
                            "origin_ip": "157.166.249.10",
                            "edge_ip": "172.17.14.1",
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                                "id-info": "999999"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/ddos-protection/edge-ip/edit/dns-with-cname": {
            "post": {
                "parameters": [
                    {
                    	"description":"CNAME to onboard to service",
                        "in": "formData",
                        "name": "cname",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"Domain name to onboard to service",
                        "in": "formData",
                        "name": "dns_name",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"Imperva generated Edge IP",
                        "in": "formData",
                        "name": "edge_ip",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"Provide 'true' to disable DNS resolution check (enabled by default)",
                        "in": "formData",
                        "name": "disable_dns_check",
                        "type": "boolean",
						"required": false
                    }                
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "resolved_cnames": [
                                "imperva.test.com"
                            ],
                            "cname": "imperva.test.com",
                            "edge_ip": "172.17.14.1",
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                                "id-info": "999999"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/ddos-protection/edge-ip/edit/ha-protocol": {
            "post": {
                "parameters": [
                    {
                    	"description":"Imperva generated Edge IP",
                        "in": "formData",
                        "name": "edge_ip",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"Provide 'true' to disable DNS resolution check (enabled by default)",
                        "in": "formData",
                        "name": "disable_dns_check",
                        "type": "boolean",
						"required": true
                    }                
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                                "id-info": "999999"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/ddos-protection/edge-ip/remove": {
            "post": {
                "parameters": [
                    {
                    	"description":"Imperva generated Edge IP",
                        "in": "formData",
                        "name": "edge_ip",
                        "type": "string",
						"required": true
                    }                
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                                "id-info": "999999"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/subaccounts/add": {
            "post": {
                "parameters": [
                    {
                    	"description":"The name of the sub account.",
                        "in": "formData",
                        "name": "sub_account_name",
                        "type": "string",
						"required": true                        
                    },
                    {
                    	"description":"The newly created account's parent id. If not specified, the invoking account will be assigned as the parent account. (optional)",
                        "in": "formData",
                        "name": "parent_id",
                        "type": "integer",
						"required": false
                    },
                    {
                    	"description":"Customer specific identifier for this operation.",
                        "in": "formData",
                        "name": "ref_id",
                        "type": "string",
						"required": false
                    },
                    {
                    	"description":"Sets the log reporting level for the site.  \nPossible values: full, security, none, default. \nAvailable only for customers that purchased the Logs Integration SKU.",
                        "in": "formData",
                        "name": "log_level",
                        "type": "string",
						"required": false
                    },
                    {
                    	"description":"Numeric identifier of the account that purchased the logs integration SKU and which collects the logs. If not specified, operation will be performed on the account identified by the authentication parameters. \nAvailable only for customers that purchased the Logs Integration SKU.",
                        "in": "formData",
                        "name": "logs_account_id",
                        "type": "integer",
						"required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "sub_account":{
                                "sub_account_id":123456,
                                "sub_account_name":"My Sub Account",
                                "is_for_special_ssl_configuration":false,   
                                "support_level":"Standard"
                            },
                            "res":0,
                            "res_message":"OK",
                            "debug_info":{
                                "id-info":"999999"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/subaccounts/delete": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the sub account to operate on.",
                        "in": "formData",
                        "name": "sub_account_id",
                        "type": "integer",
						"required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{}
                    }
                }
            }
        },
        "/prov/v1/accounts/listSubAccounts": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the account to operate on. If not specified, operation will be performed on the account identified by the authentication parameters.",
                        "in": "formData",
                        "name": "account_id",
                        "type": "integer",
						"required": false
                    },
                    {
                    	"description":"The number of objects to return in the response. Default is 50. Maximum: 100",
                        "in": "formData",
                        "name": "page_size",
                        "type": "integer",
                        "enum":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100],
						"required": false
                    },
                    {
                    	"description":"The page to return starting from 0. Default is 0.",
                        "in": "formData",
                        "name": "page_num",
                        "type": "integer",
						"required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "resultList":[
                                {
                                "sub_account_id":123456,
                                "sub_account_name":"My Sub Account",
                                "is_for_special_ssl_configuration":false,
                                "support_level":"Standard"
                                },
                                {
                                "sub_account_id":123457,
                                "sub_account_name":"My Other Sub Account",   
                                "is_for_special_ssl_configuration":true,
                                "support_level":"Standard"
                                },
                            ],
                            "res":0,
                            "res_message":"OK",
                            "debug_info":{
                                "id-info":"999999"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/caa/check-compliance": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the site to operate on.",
                        "in": "formData",
                        "name": "site_id",
                        "type": "integer",
						"required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "non_compliant_sans": [
                                "*.caa.incaptest.co"
                            ],
                            "res": 0,
                            "res_message": "OK",
                        }
                    }
                }
            }
        },
        "/prov/v1/domain/emails": {
            "post": {
                "parameters": [
                    {
                    	"description":"The domain name of the site. For example: www.example.com, hello.example.com, example.com",
                        "in": "formData",
                        "name": "domain",
                        "type": "string",
						"required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK",
                            "domain_emails": [
                                "admin@example.com",
                                "webmaster@example.com"
                            ]
                        }
                    }
                }
            }
        },
        "/prov/v1/sites/data-privacy/region-change": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the site to operate on.",
                        "in": "formData",
                        "name": "site_id",
                        "type": "integer",
						"required": true
                    },
                    {
                    	"description":"The data region to use.",
                        "in": "formData",
                        "name": "data_storage_region",
                        "type": "string",
                        "enum":["APAC","EU","US","DEFAULT"],
						"required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK"
                        }
                    }
                }
            }
        },
        "/prov/v1/sites/data-privacy/show": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the site to operate on.",
                        "in": "formData",
                        "name": "site_id",
                        "type": "integer",
						"required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "region": "EU",
                            "res":0,
                            "res_message":"OK"
                        }
                    }
                }
            }
        },
        "/prov/v1/sites/data-privacy/override-by-geo": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the account to operate on. If not specified, operation will be performed on the account identified by the authentication parameters.",
                        "in": "formData",
                        "name": "account_id",
                        "type": "integer",
						"required": true
                    },
                    {
                    	"description":"A boolean parameter. If it is set to \"true\", the data storage region for each new site will be based on the geolocation of the origin server.",
                        "in": "formData",
                        "name": "override_site_regions_by_geo",
                        "type": "boolean",
						"required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res":0,
                            "res_message":"OK"
                        }
                    }
                }
            }
        },
        "/prov/v1/sites/data-privacy/show-override-by-geo": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the account to operate on. If not specified, operation will be performed on the account identified by the authentication parameters.",
                        "in": "formData",
                        "name": "account_id",
                        "type": "integer",
						"required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "override_site_regions_by_geo": true,
                            "res":0,
                            "res_message":"OK"
                        }
                    }
                }
            }
        },

        "/prov/v1/sites/add": {
            "post": {
                "parameters": [
                    {
                    	"description":"The domain name of the site. For example: www.example.com, hello.example.com, example.com",
                        "in": "formData",
                        "name": "domain",
                        "type": "string",
						"required": true
                    },
                    {
                    	"description":"Numeric identifier of the account to operate on. If not specified, operation will be performed on the account identified by the authentication parameters.",
                        "in": "formData",
                        "name": "account_id",
                        "type": "integer",
						"required": false
                    },
                    {
                    	"description":"Customer specific identifier for this operation.",
                        "in": "formData",
                        "name": "ref_id",
                        "type": "string",
						"required": false
                    },
                    {
                    	"description":"If this value is \"false\", end users will not get emails about the add site process such as \"DNS instructions\" and \"SSL setup\".",
                        "in": "formData",
                        "name": "send_site_setup_emails",
                        "type": "boolean",
						"required": false
                    },
                    {
                    	"description":"Manually set the web server IP/CNAME.",
                        "in": "formData",
                        "name": "site_ip",
                        "type": "string",
						"required": false
                    },
                    {
                    	"description":"If this value is \"true\", manually set the site to support SSL. This option is only available for sites with manually configured IP/CNAME and for specific accounts.",
                        "in": "formData",
                        "name": "force_ssl",
                        "type": "boolean",
						"required": false
                    },
                    {
                    	"description":"Use \"true\" to add the naked domain SAN to a www site’s SSL certificate. Default value: true",
                        "in": "formData",
                        "name": "naked_domain_san",
                        "type": "boolean",
						"required": false
                    },
                    {
                    	"description":"Use \"true\" to add the wildcard SAN or \"false\" to add the full domain SAN to the site’s SSL certificate. Default value: true",
                        "in": "formData",
                        "name": "wildcard_san",
                        "type": "boolean",
						"required": false
                    },
                    {
                    	"description":"Sets the log reporting level for the site. Possible values: full, security, none, default. Available only for customers that purchased the Logs Integration SKU.",
                        "in": "formData",
                        "name": "log_level",
                        "type": "string",
                        "enum":["default","none","full","security"]
                    },
                    {
                    	"description":"Available only for customers that purchased the Logs Integration SKU. Numeric identifier of the account that purchased the logs integration SKU and which collects the logs. If not specified, operation will be performed on the account identified by the authentication parameters",
                        "in": "formData",
                        "name": "logs_account_id",
                        "type": "integer",
						"required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK",
                            "status": "pending_dns_changes",
                            "ips": [
                                "34.33.22.1"
                            ],
                            "dns": [
                                {
                                    "dns_record_name": "www.example.com",
                                    "set_type_to": "CNAME",
                                    "set_data_to": "x343.incapdns.net"
                                },
                                {
                                    "dns_record_name": "example.com",
                                    "set_type_to": "A",
                                    "set_data_to": "10.200.0.0"
                                }
                            ],
                            "original_dns": [
                                {
                                    "dns_record_name": "example.com",
                                    "set_type_to": "A",
                                    "set_data_to": [
                                        "66.45.177.11"
                                    ]
                                },
                                {
                                    "dns_record_name": "www.example.com",
                                    "set_type_to": "A",
                                    "set_data_to": [
                                        "66.45.177.50"
                                    ]
                                }
                            ],
                            "warnings": [
                                {
                                    "type": "FTP",
                                    "dns_record_name": "ftp.example.com",
                                    "set_type_to": "A",
                                    "set_data_to": "10.200.0.0"
                                },
                                {
                                    "type": "MAIL",
                                    "mail_record_name": "mail.example.com",
                                    "set_type_to": "A",
                                    "set_data_to": "10.200.0.0"
                                }
                            ],
                            "security": {
                                "waf": {
                                    "rules": [
                                        {
                                            "id": "api.threats.bot_access_control",
                                            "name": "Bot Access Control",
                                            "block_bad_bots": true,
                                            "challenge_suspected_bots": true
                                        },
                                        {
                                            "id": "api.threats.sql_injection",
                                            "name": "SQL Injection",
                                            "action": "api.threats.action.block_request",
                                            "action_text": "Block Request"
                                        },
                                        {
                                            "id": "api.threats.cross_site_scripting",
                                            "name": "Cross Site Scripting (XSS)",
                                            "exceptions": [
                                                {
                                                    "values": [
                                                        {
                                                            "urls": [
                                                                {
                                                                    "value": "/gsddg",
                                                                    "pattern": "EQUALS"
                                                                }
                                                            ],
                                                            "id": "api.rule_exception_type.url",
                                                            "name": "URL"
                                                        }
                                                    ],
                                                    "id": 244711494
                                                }
                                            ],
                                            "action": "api.threats.action.alert",
                                            "action_text": "Alert Only"
                                        },
                                        {
                                            "id": "api.threats.illegal_resource_access",
                                            "name": "Illegal Resource Access",
                                            "action": "api.threats.action.block_user",
                                            "action_text": "Block User"
                                        },
                                        {
                                            "id": "api.threats.ddos",
                                            "name": "DDoS",
                                            "activation_mode": "api.threats.ddos.activation_mode.off",
                                            "activation_mode_text": "Off",
                                            "ddos_traffic_threshold": "api.threats.ddos.ddos_trassic_threshold",
                                            "ddos_traffic_threshold_text": "750"
                                        },
                                        {
                                            "id": "api.threats.backdoor",
                                            "name": "Backdoor Protect",
                                            "action": "api.threats.action.quarantine_url",
                                            "action_text": "Auto-Quarantine"
                                        },
                                        {
                                            "action": "api.threats.action.block_ip",
                                            "action_text": "Block IP",
                                            "id": "api.threats.remote_file_inclusion",
                                            "name": "Remote File Inclusion"
                                        }
                                    ]
                                },
                                "acls": {
                                    "rules": [
                                        {
                                            "ips": [
                                                "2.3.4.5"
                                            ],
                                            "exceptions": [
                                                {
                                                    "values": [
                                                        {
                                                            "urls": [
                                                                {
                                                                    "value": "/home",
                                                                    "pattern": "EQUALS"
                                                                }
                                                            ],
                                                            "id": "api.rule_exception_type.url",
                                                            "name": "URL"
                                                        }
                                                    ],
                                                    "id": 493271006
                                                }
                                            ],
                                            "id": "api.acl.blacklisted_ips",
                                            "name": "Visitors from blacklisted IPs"
                                        }
                                    ]
                                }
                            },
                            "active": "active",
                            "acceleration_level": "advanced",
                            "site_creation_date": 1372573842000,
                            "sealLocation": {
                                "id": "api.seal_location.bottom_right",
                                "name": "Bottom right"
                            },
                            "ssl": {
                                "origin_server": {
                                    "detected": true,
                                    "detectionStatus": "ok"
                                },
                                "generated_certificate": {
                                    "ca": "globalsign",
                                    "validation_method": "dns",
                                    "validation_data": [
                                        {
                                            "dns_record_name": "www.example.com",
                                            "set_type_to": "TXT",
                                            "set_data_to": "globalsign-domain-verification=rgwlWGF7wQsdWdhbd54pGGruzskFMVezwMvnUtRAzW"
                                        }
                                    ],
                                    "san": [
                                        "*.example.com",
                                        "example.com"
                                    ],
                                    "validation_status": "pending_user_action"
                                },
                                "custom_certificate": {
                                    "active": true,
                                    "expirationDate": 1460100446000,
                                    "revocationError": false,
                                    "validityError": false,
                                    "chainError": false,
                                    "hostnameMismatchError": true
                                }
                            },
                            "login_protect": {
                                "enabled": true,
                                "specific_users_list": [
                                    {
                                        "email": "john@example.com",
                                        "name": "John Doe",
                                        "status": "INVITATION_SENT"
                                    },
                                    {
                                        "email": "jane@example.com",
                                        "name": "Jane Doe",
                                        "status": "ACTIVATED"
                                    }
                                ],
                                "send_lp_notifications": true,
                                "allow_all_users": false,
                                "authentication_methods": [
                                    "sms",
                                    "ga"
                                ],
                                "urls": [
                                    "/wp-admin"
                                ],
                                "url_patterns": [
                                    "PREFIX"
                                ]
                            },
                            "performance_configuration": {
                                "advanced_caching_rules": {
                                    "never_cache_resources": [
                                        {
                                            "pattern": "SUFFIX",
                                            "url": "/test.html"
                                        }
                                    ],
                                    "always_cache_resources": [
                                        {
                                            "pattern": "NOT_EQUALS",
                                            "url": "/index.html",
                                            "ttl": 5,
                                            "ttlUnits": "SECONDS"
                                        },
                                        {
                                            "pattern": "EQUALS",
                                            "url": "/home.html",
                                            "ttl": 6,
                                            "ttlUnits": "DAYS"
                                        }
                                    ]
                                },
                                "acceleration_level": "advanced",
                                "async_validation": true,
                                "minify_javascript": true,
                                "minify_css": true,
                                "minify_static_html": true,
                                "compress_jpeg": true,
                                "progressive_image_rendering": true,
                                "aggressive_compression": true,
                                "compress_png": true,
                                "on_the_fly_compression": true,
                                "tcp_pre_pooling": true,
                                "comply_no_cache": true,
                                "comply_vary": true,
                                "use_shortest_caching": true,
                                "support_all_tls_versions": true,
                                "prefer_last_modified": true,
                                "disable_client_side_caching": true,
                                "cache_headers": [
                                    {
                                        "headerName": "Content-type: application/pdf"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/sites/cache/purge": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the site to operate on.",
                        "in": "formData",
                        "name": "site_id",
                        "type": "integer",
						"required": true
                    },
                    {
                    	"description":"The pattern of the resource to be purged from the cache. For example:\n\n\nResource_name - Resources that contain Resource_name will be purged\n\n^Resource_name- Resources that start with Resource_name will be purged\n\nResource_name$ - Resources that end with Resource_name will be purged",
                        "in": "formData",
                        "name": "purge_pattern",
                        "type": "string",
						"required": false
                    },
                    {
                    	"description":"A comma separated list of tag names to purge.",
                        "in": "formData",
                        "name": "purge_tag_names",
                        "type": "string",
                        "item":{"type":"string"},
						"required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK"
                        }
                    }
                }
            }
        },
        "/prov/v1/sites/configure": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the site to operate on.",
                        "in": "formData",
                        "name": "site_id",
                        "type": "integer",
						"required": false
                    },
                    {
                    	"description":"Name of configuration parameter to set. See table below.\n\nactive: One of: active | bypass.\n\nsite_ip: Comma separated list of IPs. For example: 8.8.8.8,1.2.2.2\n\ndomain_validation: One of email | html | dns\n\napprover: Sets the approver e-mail address that will be used to perform SSL domain validation.\n\nignore_ssl: Sets the ignore SSL flag (if the site is in pending-select-approver state). Pass \"true\" in the value parameter.\n\nacceleration_level: Sets the acceleration level of the site, one of: none | standard | aggressive. It is advised to use the newer Modify caching mode API call instead, as it provides enhanced functionality.\n\nseal_location: Sets the seal location, e.g. \"api.seal_location.bottom_right\".\n\ndomain_redirect_to_full: Sets the redirect naked to full flag. Pass \"true\" in the value parameter.\n\nremove_ssl: Sets the remove SSL from site flag. Pass \"true\" in the value parameter.\n\nref_id: Sets the Reference ID, a free-text field that enables you to add a unique identifier to correlate an object in our service, such as a protected website, with an object on the customer side.",
                        "in": "formData",
                        "name": "param",
                        "type": "string",
                        "enum":["active","site_ip","domain_validation","approver","ignore_ssl","acceleration_level","seal_location","remove_ssl","ref_id"],
						"required": false
                    },
                    {
                    	"description":"According to the param value. See info on param",
                        "in": "formData",
                        "name": "value",
                        "type": "string",
						"required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK",
                            "debug_info": {
                                "domain_email": "admin@example.com"
                            }
                        }
                    }
                }
            }
        },
        "/prov/v1/sites/configure/acl": {
            "post": {
                "parameters": [
                    {
                    	"description":"Numeric identifier of the site to operate on.",
                        "in": "formData",
                        "name": "site_id",
                        "type": "integer",
						"required": true
                    },
                    {
                    	"description":"The id of the acl, e.g api.acl.blacklisted_ips:\r\n• api.acl.blacklisted_countries - Visitors from blacklisted countries/continents\r\n• api.acl.blacklisted_urls - Visitors from blacklisted URLs\r\n• api.acl.blacklisted_ips - Visitors from blacklisted IPs\r\n• api.acl.whitelisted_ips - Visitors from whitelisted IPs\n\r\n\rBlacklisted URLs Example:\r\nrule_id=api.acl.blacklisted_urls\r\nurls=%2Fadmin%2Fdashboard%2Fstats%3Fx%3D1%26y%3D2%23z%3D3,%2Fadmin\r\nurl_patterns=contains,equals\r\n\r\nBlacklisted Countries Example:\r\nrule_id=api.acl.blacklisted_countries\r\ncountries=CA,US\r\ncontinents=SA\r\n\r\nBlacklisted IPs Example:\r\nrule_id=api.acl.blacklisted_ips\r\nips=1.2.3.4,192.168.1.1-192.168.1.100,192.168.1.1/24\r\n\r\nWhitelisted IPs Example:\r\nrule_id=api.acl.whitelisted_ips\r\nips=1.2.3.4\r\n\r\nDelete the IPs ACL Example (send an empty list of IPs):\r\nrule_id=api.acl.blacklisted_ips\r\nips=\r\n",
                        "in": "formData",
                        "name": "rule_id",
                        "type": "string",
                        "enum":["api.acl.blacklisted_countries","api.acl.blacklisted_ips","api.acl.blacklisted_urls","api.acl.whitelisted_ips"],
						"required": true
                    },
                    {
                    	"description":"A comma separated list of resource paths.\n\nFor example, /home and /admin/index.html are resource paths, while http://www.example.com/home is not. ",
                        "in": "formData",
                        "name": "urls",
                        "type": "string",
                        "item":{"type":"string"},
						"required": false
                    },
                    {
                        "description":"A comma separated list of url patterns. Possible values: contains | equals | prefix | suffix | not_equals | not_contain | not_prefix | not_suffix. The patterns should be in accordance with the matching urls sent by the urls parameter.",
                        "in": "formData",
                        "name": "url_patterns",
                        "type": "string",
                        "items":{"type":"string"},
                        "required": false
                    },
                    {
                    	"description":"A comma separated list of country codes.",
                        "in": "formData",
                        "name": "countries",
                        "type": "string",
                        "uniqueItems":false,
                        "enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BA","BW","BV","BR","VG","IO","BN","BG","BF","BI","KH","CM","CA","CV","KY","CF","TD","CL","CN","HK","MO","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KP","KR","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MK","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","AN","NC","NZ","NI","NE","NG","NU","NF","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SK","SI","SB","SO","ZA","GS","SS","ES","LK","SD","SR","SJ","SZ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","UG","UA","AE","GB","US","UM","UY","UZ","VU","VE","VN","VI","WF","EH","YE","ZM","ZW"],
						"required": false
                    },
                    {
                    	"description":"A comma separated list of continent codes.",
                        "in": "formData",
                        "name": "continents",
                        "type": "string",
                        "uniqueItems":false,
                        "enum":["AF","AN","AS","EU","NA","OC","SA"],
						"required": false
                    },
                    {
                    	"description":"A comma seperated list of IPs or IP ranges, e.g: 192.168.1.1, 192.168.1.1-192.168.1.100 or 192.168.1.1/24",
                        "in": "formData",
                        "name": "ips",
                        "type": "string",
						"required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "example":{
                            "res": 0,
                            "res_message": "OK",
                            "status": "pending_dns_changes",
                            "ips": [
                                "34.33.22.1"
                            ],
                            "dns": [
                                {
                                    "dns_record_name": "www.example.com",
                                    "set_type_to": "CNAME",
                                    "set_data_to": "x343.incapdns.net"
                                },
                                {
                                    "dns_record_name": "example.com",
                                    "set_type_to": "A",
                                    "set_data_to": "10.200.0.0"
                                }
                            ],
                            "original_dns": [
                                {
                                    "dns_record_name": "example.com",
                                    "set_type_to": "A",
                                    "set_data_to": [
                                        "66.45.177.11"
                                    ]
                                },
                                {
                                    "dns_record_name": "www.example.com",
                                    "set_type_to": "A",
                                    "set_data_to": [
                                        "66.45.177.50"
                                    ]
                                }
                            ],
                            "warnings": [
                                {
                                    "type": "FTP",
                                    "dns_record_name": "ftp.example.com",
                                    "set_type_to": "A",
                                    "set_data_to": "10.200.0.0"
                                },
                                {
                                    "type": "MAIL",
                                    "mail_record_name": "mail.example.com",
                                    "set_type_to": "A",
                                    "set_data_to": "10.200.0.0"
                                }
                            ],
                            "security": {
                                "waf": {
                                    "rules": [
                                        {
                                            "id": "api.threats.bot_access_control",
                                            "name": "Bot Access Control",
                                            "block_bad_bots": true,
                                            "challenge_suspected_bots": true
                                        },
                                        {
                                            "id": "api.threats.sql_injection",
                                            "name": "SQL Injection",
                                            "action": "api.threats.action.block_request",
                                            "action_text": "Block Request"
                                        },
                                        {
                                            "id": "api.threats.cross_site_scripting",
                                            "name": "Cross Site Scripting (XSS)",
                                            "exceptions": [
                                                {
                                                    "values": [
                                                        {
                                                            "urls": [
                                                                {
                                                                    "value": "/gsddg",
                                                                    "pattern": "EQUALS"
                                                                }
                                                            ],
                                                            "id": "api.rule_exception_type.url",
                                                            "name": "URL"
                                                        }
                                                    ],
                                                    "id": 244711494
                                                }
                                            ],
                                            "action": "api.threats.action.alert",
                                            "action_text": "Alert Only"
                                        },
                                        {
                                            "id": "api.threats.illegal_resource_access",
                                            "name": "Illegal Resource Access",
                                            "action": "api.threats.action.block_user",
                                            "action_text": "Block User"
                                        },
                                        {
                                            "id": "api.threats.ddos",
                                            "name": "DDoS",
                                            "activation_mode": "api.threats.ddos.activation_mode.off",
                                            "activation_mode_text": "Off",
                                            "ddos_traffic_threshold": "api.threats.ddos.ddos_trassic_threshold",
                                            "ddos_traffic_threshold_text": "750"
                                        },
                                        {
                                            "id": "api.threats.backdoor",
                                            "name": "Backdoor Protect",
                                            "action": "api.threats.action.quarantine_url",
                                            "action_text": "Auto-Quarantine"
                                        },
                                        {
                                            "action": "api.threats.action.block_ip",
                                            "action_text": "Block IP",
                                            "id": "api.threats.remote_file_inclusion",
                                            "name": "Remote File Inclusion"
                                        }
                                    ]
                                },
                                "acls": {
                                    "rules": [
                                        {
                                            "ips": [
                                                "2.3.4.5"
                                            ],
                                            "exceptions": [
                                                {
                                                    "values": [
                                                        {
                                                            "urls": [
                                                                {
                                                                    "value": "/home",
                                                                    "pattern": "EQUALS"
                                                                }
                                                            ],
                                                            "id": "api.rule_exception_type.url",
                                                            "name": "URL"
                                                        }
                                                    ],
                                                    "id": 493271006
                                                }
                                            ],
                                            "id": "api.acl.blacklisted_ips",
                                            "name": "Visitors from blacklisted IPs"
                                        }
                                    ]
                                }
                            },
                            "active": "active",
                            "acceleration_level": "advanced",
                            "site_creation_date": 1372573842000,
                            "sealLocation": {
                                "id": "api.seal_location.bottom_right",
                                "name": "Bottom right"
                            },
                            "ssl": {
                                "origin_server": {
                                    "detected": true,
                                    "detectionStatus": "ok"
                                },
                                "generated_certificate": {
                                    "ca": "globalsign",
                                    "validation_method": "dns",
                                    "validation_data": [
                                        {
                                            "dns_record_name": "www.example.com",
                                            "set_type_to": "TXT",
                                            "set_data_to": "globalsign-domain-verification=rgwlWGF7wQsdWdhbd54pGGruzskFMVezwMvnUtRAzW"
                                        }
                                    ],
                                    "san": [
                                        "*.example.com",
                                        "example.com"
                                    ],
                                    "validation_status": "pending_user_action"
                                },
                                "custom_certificate": {
                                    "active": true,
                                    "expirationDate": 1460100446000,
                                    "revocationError": false,
                                    "validityError": false,
                                    "chainError": false,
                                    "hostnameMismatchError": true
                                }
                            },
                            "login_protect": {
                                "enabled": true,
                                "specific_users_list": [
                                    {
                                        "email": "john@example.com",
                                        "name": "John Doe",
                                        "status": "INVITATION_SENT"
                                    },
                                    {
                                        "email": "jane@example.com",
                                        "name": "Jane Doe",
                                        "status": "ACTIVATED"
                                    }
                                ],
                                "send_lp_notifications": true,
                                "allow_all_users": false,
                                "authentication_methods": [
                                    "sms",
                                    "ga"
                                ],
                                "urls": [
                                    "/wp-admin"
                                ],
                                "url_patterns": [
                                    "PREFIX"
                                ]
                            },
                            "performance_configuration": {
                                "advanced_caching_rules": {
                                    "never_cache_resources": [
                                        {
                                            "pattern": "SUFFIX",
                                            "url": "/test.html"
                                        }
                                    ],
                                    "always_cache_resources": [
                                        {
                                            "pattern": "NOT_EQUALS",
                                            "url": "/index.html",
[...]
