{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Cloud Application Security API",
    "license" : {
      "name" : "Imperva License Agreement.",
      "url" : "http://www.imperva.com/other/license_agreement.asp"
    },
    "version" : "1.0"
  },
  "externalDocs" : {
    "description" : "Cloud Application Security API Reference",
    "url" : "https://docs.imperva.com/bundle/cloud-application-security/page/api/api.htm"
  },
  "servers" : [ {
    "url" : "https://my.imperva.com",
    "description" : "Imperva API server",
    "variables" : { }
  } ],
  "security" : [ {
    "api_key" : [ ]
  }, {
    "api_id" : [ ]
  } ],
  "tags" : [ {
    "name" : "Account Management",
    "description" : "Add, delete, and modify accounts. Get account details."
  }, {
    "name" : "Site Management",
    "description" : "Add, remove, and update sites."
  }, {
    "name" : "DDoS Protection for Individual IPs",
    "description" : "Manage IP Protection over TCP/IP settings."
  }, {
    "name" : "DDoS for Networks Test Alerts",
    "description" : "Generate dummy notifications to test system alerts."
  }, {
    "name" : "Traffic Statistics and Logs",
    "description" : "Retrieve traffic statistics and logs for sites or accounts."
  }, {
    "name" : "Login Protect",
    "description" : "Provision Login Protect users and configure protected pages."
  }, {
    "name" : "Integrations",
    "description" : "Implement integrations with the Imperva service."
  } ],
  "paths" : {
    "/api/prov/v1/accounts/gettoken" : {
      "post" : {
        "tags" : [ "Account Management" ],
        "summary" : "Get account login token",
        "description" : "Tokens are used instead of user/password based authentication to log in to the Imperva Cloud Security Console.\nUse this operation to generate a token for an account. The token is valid for 15 minutes.",
        "operationId" : "getToken",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account to operate on.<br/>If not specified, operation will be performed on the account identified by the authentication parameters.",
          "schema" : {
            "type" : "string"
          },
          "example" : 10
        }, {
          "name" : "partner_id",
          "in" : "query",
          "description" : "Numeric identifier of the parent id to operate on",
          "schema" : {
            "type" : "string"
          },
          "example" : 15
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiResultGetSsoToken"
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/accounts/list" : {
      "post" : {
        "tags" : [ "Account Management" ],
        "summary" : "List managed accounts",
        "description" : "Available for Reseller accounts only.<br/>Use this operation to get the list of accounts that are managed by account of the API client (the parent account).",
        "operationId" : "listAccounts",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account to operate on.<br/>If not specified, operation will be performed on the account identified by the authentication parameters.",
          "schema" : {
            "type" : "string"
          },
          "example" : 10
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The number of objects to return in the response.<br/>Default: 50<br/>Maximum: 100",
          "schema" : {
            "type" : "string"
          },
          "example" : 75
        }, {
          "name" : "page_num",
          "in" : "query",
          "description" : "The page to return starting from 0. Default: '0",
          "schema" : {
            "type" : "string"
          },
          "example" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiResultListUsers"
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/subaccounts/add" : {
      "post" : {
        "tags" : [ "Account Management" ],
        "summary" : "Add a new sub account",
        "description" : "Use this operation to add a new sub account to be managed by the account of the API client (the parent account).",
        "operationId" : "addSubAccount",
        "parameters" : [ {
          "name" : "sub_account_name",
          "in" : "query",
          "description" : "The name of the sub account.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "My Sub Account"
        }, {
          "name" : "parent_id",
          "in" : "query",
          "description" : "The newly created account's parent id. If not specified, the invoking account will be assigned as the parent account.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 10
        }, {
          "name" : "ref_id",
          "in" : "query",
          "description" : "Customer specific identifier for this operation.",
          "schema" : {
            "type" : "string"
          },
          "example" : 1
        }, {
          "name" : "log_level",
          "in" : "query",
          "description" : "Sets the log reporting level for the site.<br/>Possible values: full, security, none, default<br/>Available only for customers that purchased the Logs Integration SKU.",
          "schema" : {
            "type" : "string"
          },
          "example" : "full"
        }, {
          "name" : "logs_account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account that purchased the logs integration SKU and which collects the logs.<br/>If not specified, operation will be performed on the account identified by the authentication parameters.<br/>Available only for customers that purchased the Logs Integration SKU.",
          "schema" : {
            "type" : "string"
          },
          "example" : 10
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>9403 - Unknown/unauthorized account_id<br/>9415 - Operation not allowed<br/>1015 - Maximum number of SubAccounts reached<br/>1003 - Plan ID invalid<br/>1010 - Account exists",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/ApiResultSubAccountStatus"
                  }, {
                    "$ref" : "#/components/schemas/ApiResult"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/accounts/listSubAccounts" : {
      "post" : {
        "tags" : [ "Account Management" ],
        "summary" : "List account's sub accounts",
        "description" : "Use this operation to get a list of sub accounts that are managed by the account of the API client (the parent account).",
        "operationId" : "listSubAccounts",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account to operate on.<br/>If not specified, operation will be performed on the account identified by the authentication parameters.",
          "schema" : {
            "type" : "string"
          },
          "example" : 10
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The number of objects to return in the response.<br/>Default: 50<br/>Maximum: 100",
          "schema" : {
            "type" : "string"
          },
          "example" : 75
        }, {
          "name" : "page_num",
          "in" : "query",
          "description" : "The page to return starting from 0. Default: 0",
          "schema" : {
            "type" : "string"
          },
          "example" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>9415 - Operation not allowed<br/>1002 - Account doesn't exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SubAccountStatus"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/accounts/configure" : {
      "post" : {
        "tags" : [ "Account Management" ],
        "summary" : "Modify account configuration",
        "description" : "Use this operation to change the configuration of the account of the API client or one of its managed accounts.",
        "operationId" : "modifyAccountConfiguration",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account to operate on.<br/>If not specified, operation will be performed on the account identified by the authentication parameters.",
          "schema" : {
            "type" : "string"
          },
          "example" : 10
        }, {
          "name" : "param",
          "in" : "query",
          "description" : "Name of the configuration parameter to set.<br/>Possible values: name | email | plan_id | error_page_template | support_all_tls_versions | naked_domain_san_for_new_www_sites | wildcard_san_for_new_sites | ref_id<br/>Note: plan_id, email, and error_page_template parameters are available for Reseller account only.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "email"
        }, {
          "name" : "value",
          "in" : "query",
          "description" : "According to the configuration paramater used.<br/>For name - the updated name, for e-mail - the updated e-mail address.<br/>For plan_id - a plan id.<br/>For error_page_template - a Base64 encoded template for an error page.<br/>For log_level - Available only for customers that purchased the Logs Integration SKU. Sets the log reporting level for the site. Possible values: full, security, none, default<br/>For support_all_tls_versions - Use this operation to allow sites in the account to support all TLS versions for connectivity between clients (visitors) and the Imperva service. When this option is set, you can then enable the option per site to support all TLS versions. Possible values: true, false. Note: To remain PCI-compliant, do not enable this option.<br/>For naked_domain_san_for_new_www_sites - Use this option to determine if the naked domain SAN will be added to the SSL certificate for new www sites. Default value: true<br/>For wildcard_san_for_new_sites - Use this option to determine if the wildcard SAN or the full domain SAN is added to the Imperva SSL certificate for new sites. Possible values: true, false, default (determined by plan) Default value: default<br/>For ref_id - Sets the Reference ID, a free-text field that enables you to add a unique identifier to correlate an object in our service, such as a protected website, with an object on the customer side.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "John@example.com"
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>6001 - Invalid configuration parameter name<br/>6002 - Invalid configuration parameter value<br/>6003 - Action required<br/>2 - Invalid input<br/>9415 - Operation not allowed<br/>1 - Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/accounts/delete" : {
      "post" : {
        "tags" : [ "Account Management" ],
        "summary" : "Delete managed account",
        "description" : "Available for Reseller accounts only\nUse this operation to delete an account.",
        "operationId" : "deleteAccount",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account to operate on.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 10
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>1 - Unexpected error<br/>2 - Invalid input<br/>9415 - Operation not allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/subaccounts/delete" : {
      "post" : {
        "tags" : [ "Account Management" ],
        "summary" : "Delete sub account",
        "description" : "Use this operation to delete a sub account.",
        "operationId" : "deleteSubAccount",
        "parameters" : [ {
          "name" : "sub_account_id",
          "in" : "query",
          "description" : "Numeric identifier of the sub account to operate on.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 10
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>1 - Unexpected error<br/>2002 - Invalid input2001 - Object is not empty<br/>9415 - Operation not allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/accounts" : {
      "post" : {
        "tags" : [ "Account Management" ],
        "summary" : "Get account status",
        "description" : "Use this operation to get account status",
        "operationId" : "getAccountStatus",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account to operate on.<br/>If not specified, operation will be performed on the account identified by the authentication parameters.",
          "schema" : {
            "type" : "string"
          },
          "example" : 10
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiResultAccountStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/accounts/setlog" : {
      "post" : {
        "tags" : [ "Account Management" ],
        "summary" : "Modify account log level",
        "description" : "Available for Reseller accounts only<br/>Use this operation to change the account log configuration.",
        "operationId" : "modifyAccountLogLevel",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account to operate on.<br/>If not specified, operation will be performed on the account identified by the authentication parameters.",
          "schema" : {
            "type" : "string"
          },
          "example" : 10
        }, {
          "name" : "log_level",
          "in" : "query",
          "description" : "Sets the log reporting level for the site.<br/>Possible values: full, security, none, default<br/>Available only for customers that purchased the Log Integration SKU.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "full"
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>6001 - Invalid configuration parameter name<br/>1003 - Plan ID invalid<br/>9415 - Operation not allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/accounts/subscription" : {
      "post" : {
        "tags" : [ "Account Management" ],
        "summary" : "Get account subscription details",
        "description" : "Use this operation to get subscription details for an account.",
        "operationId" : "subscription",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account to operate on.<br/>If not specified, operation will be performed on the account identified by the authentication parameters.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 10
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/ApiResultAccountSubscription"
                  }, {
                    "$ref" : "#/components/schemas/ApiResult"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/accounts/add" : {
      "post" : {
        "tags" : [ "Account Management" ],
        "summary" : "Add a new managed account",
        "description" : "Available for Reseller accounts only<br/>Use this operation to add a new account that should be managed by the account of the API client (the parent account). The new account will be configured according to the preferences set for the parent account by Imperva.\nDepending on these preferences, an activation e-mail will be sent to the specified e-mail address. The user responds to the activation e-mail, selects a password, and can then log directly into the Imperva console. The same e-mail address can also be used to send system notifications to the account. The new account is identified by a numeric value as provided by Imperva in the response in the field account_id.",
        "operationId" : "addAccount",
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "description" : "Email address. For example: \"joe@example.com\".",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "example@imperva.com"
        }, {
          "name" : "parent_id",
          "in" : "query",
          "description" : "The newly created account's parent id. If not specified, the invoking account will be assigned as the parent.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 10
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "The account owner's name. For example: \"John Doe\".",
          "schema" : {
            "type" : "string"
          },
          "example" : "Jhon"
        }, {
          "name" : "plan_id",
          "in" : "query",
          "description" : "An identifier of the plan to assign to the new account. For example, ent100 for the Enterprise 100 plan.",
          "schema" : {
            "type" : "string"
          },
          "example" : "ent100"
        }, {
          "name" : "ref_id",
          "in" : "query",
          "description" : "Customer specific identifier for this operation.",
          "schema" : {
            "type" : "string"
          },
          "example" : 324
        }, {
          "name" : "account_name",
          "in" : "query",
          "description" : "Account name.",
          "schema" : {
            "type" : "string"
          },
          "example" : "John Account"
        }, {
          "name" : "account_description",
          "in" : "query",
          "description" : "The account description",
          "schema" : {
            "type" : "string"
          },
          "example" : "Demo account"
        }, {
          "name" : "user_name",
          "in" : "query",
          "description" : "The account owner's name. For example: \"John Doe\".",
          "schema" : {
            "type" : "string"
          },
          "example" : "Jhon"
        }, {
          "name" : "log_level",
          "in" : "query",
          "description" : "Sets the log reporting level for the site.Possible values: full, security, none, default<br/>Available only for customers that purchased the Logs Integration SKU.",
          "schema" : {
            "type" : "string"
          },
          "example" : "full"
        }, {
          "name" : "logs_account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account that purchased the logs integration SKU and which collects the logs.<br/>If not specified, operation will be performed on the account identified by the authentication parameters.\nAvailable only for customers that purchased the Logs Integration SKU.",
          "schema" : {
            "type" : "string"
          },
          "example" : 15
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>1003 - Plan ID invalid<br/>1001 - Email invalid<br/>1010 - Account exists<br/>9403 - Unknown/unauthorized account_id",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/ApiResultAccountStatus"
                  }, {
                    "$ref" : "#/components/schemas/ApiResult"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/sites/performance/caching-rules/add" : {
      "post" : {
        "tags" : [ "Site Management" ],
        "summary" : "Add a cache rule",
        "description" : "Use this operation for adding a cache rule",
        "operationId" : "addCacheRule",
        "parameters" : [ {
          "name" : "action",
          "in" : "query",
          "description" : "Rule action. See Possible action parameter values.<br/>Possible action parameter values:<br/><ul><li><b>HTTP_CACHE_MAKE_STATIC</b> Cache Resource</li><li><b>HTTP_CACHE_CLIENT_CACHE_CTL</b> Cache Resource on Client</li><li><b>HTTP_CACHE_FORCE_UNCACHEABLE</b> Don't Cache Resource</li><li><b>HTTP_CACHE_DIFFERENTIATE_SSL</b> Differentiate Cache Key by HTTP/HTTPS Scheme</li><li><b>HTTP_CACHE_DIFFERENTIATE_BY_HEADER</b> Differentiate Cache Key by Header</li><li><b>HTTP_CACHE_DIFFERENTIATE_BY_COOKIE</b> Differentiate Cache Key by Cookie</li><li><b>HTTP_CACHE_IGNORE_PARAMS</b> Ignore Parameters in Cache Key</li><li><b>HTTP_CACHE_IGNORE_AUTH_HEADER</b> CacheRuleAction.HTTP_CACHE_IGNORE_AUTH_HEADER</li><li><b>HTTP_CACHE_FORCE_VALIDATION</b> Force User Authentication</li><li><b>HTTP_CACHE_ADD_TAG</b> Create Tag</li><li><b>HTTP_CACHE_ENRICH_CACHE_KEY</b> Enrich Cache Key</li></ul>",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "HTTP_CACHE_CREATE_TAG"
        }, {
          "name" : "site_id",
          "in" : "query",
          "description" : "Numeric identifier of the site to operate on.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 10
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Rule name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "rule1"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "Rule will trigger only a request that matches this filter. For more details on filters, see <a href=\"https://docs.imperva.com/csh?context=rule_syntax\">Syntax Guide</a>.",
          "schema" : {
            "type" : "string"
          },
          "example" : "URL ==  /admin"
        }, {
          "name" : "ttl",
          "in" : "query",
          "description" : "Rule TTL. Only relevant when action is HTTP_CACHE_MAKE_STATIC or HTTP_CACHE_CLIENT_CACHE_CTL",
          "schema" : {
            "type" : "string"
          },
          "example" : "TTL value"
        }, {
          "name" : "ttl_unit",
          "in" : "query",
          "description" : "Rule TTL time unit.<br/>Must be one of SECONDS, MINUTES, HOURS, DAYS or WEEKS. If no time unit is provided, SECONDS is used.<br/>Only relevant when action is HTTP_CACHE_MAKE_STATIC or HTTP_CACHE_CLIENT_CACHE_CTL",
          "schema" : {
            "type" : "string"
          },
          "example" : "SECONDS"
        }, {
          "name" : "differentiated_by_value",
          "in" : "query",
          "description" : "Value to differentiate by. HTTP_CACHE_DIFFERENTIATE_BY_HEADER - header name, HTTP_CACHE_DIFFERENTIATE_BY_COOKIE - cookie name, HTTP_CACHE_DIFFERENTIATE_BY_GEO - geo location <br/>(ISO 3166-1 alpha-2 country codes ), otherwise irrelevant.",
          "schema" : {
            "type" : "string"
          },
          "example" : "cookie name"
        }, {
          "name" : "params",
          "in" : "query",
          "description" : "Comma separated list of parameters to ignore.",
          "schema" : {
            "type" : "string"
          },
          "example" : "{a,b,c}"
        }, {
          "name" : "all_params",
          "in" : "query",
          "description" : "When set to <b>true</b>: all parameters in cache key will be ignored.<br/>Default: false.<br/>Relevant for HTTP_CACHE_IGNORE_PARAMS action",
          "schema" : {
            "type" : "boolean"
          },
          "example" : true
        }, {
          "name" : "tag_name",
          "in" : "query",
          "description" : "The name of the tag to add.",
          "schema" : {
            "type" : "string"
          },
          "example" : "tag example"
        }, {
          "name" : "text",
          "in" : "query",
          "description" : "Add text to the cache key as suffix. Relevant for the HTTP_CACHE_ENRICH_CACHE_KEY action",
          "schema" : {
            "type" : "string"
          },
          "example" : "suffix"
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>9413 - Unknown/unauthorized site_id<br/>9415 - Operation not allowed<br/>2 - Invalid input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/ApiResultAddCacheRule"
                  }, {
                    "$ref" : "#/components/schemas/ApiResult"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/sites/performance/caching-rules/delete" : {
      "post" : {
        "tags" : [ "Site Management" ],
        "summary" : "Delete a cache rule",
        "description" : "Use this operation for deleting a cache rule",
        "operationId" : "deleteCacheRule",
        "parameters" : [ {
          "name" : "site_id",
          "in" : "query",
          "description" : "Numeric identifier of the site to operate on.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 10
        }, {
          "name" : "rule_id",
          "in" : "query",
          "description" : "ID of the rule to change.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 3746
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>9413 - Unknown/unauthorized site_id<br/>9415 - Operation not allowed<br/>2 - Invalid input<br/>2002 - Object is not found<br/>1 - Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/sites/performance/caching-rules/enable" : {
      "post" : {
        "tags" : [ "Site Management" ],
        "summary" : "Enable or disable cache rule",
        "description" : "Use this operation for enabling or disable cache rule",
        "operationId" : "enableDisableCacheRule",
        "parameters" : [ {
          "name" : "site_id",
          "in" : "query",
          "description" : "Numeric identifier of the site to operate on.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 10
        }, {
          "name" : "rule_id",
          "in" : "query",
          "description" : "Numeric identifier of the site to operate on.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 3746
        }, {
          "name" : "enable",
          "in" : "query",
          "description" : "When true, the rule will be enabled. Set to false to disable.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>9413 - Unknown/unauthorized site_id<br/>9415 - Operation not allowed<br/>2 - Invalid input<br/>2002 - Object is not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/sites/performance/caching-rules/list" : {
      "post" : {
        "tags" : [ "Site Management" ],
        "summary" : "List cache rules for a given site",
        "description" : "Use this operation for representing cache rules for a given site",
        "operationId" : "listCacheRules",
        "parameters" : [ {
          "name" : "site_id",
          "in" : "query",
          "description" : "Numeric identifier of the site to operate on.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 10
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The number of objects to return in the response.<br/>Default is 50.<br/>Maximum: 100",
          "schema" : {
            "type" : "string"
          },
          "example" : 75
        }, {
          "name" : "page_num",
          "in" : "query",
          "description" : "The page to return starting from 0. Default is 0.",
          "schema" : {
            "type" : "string"
          },
          "example" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>9413 - Unknown/unauthorized site_id<br/>9415 - Operation not allowed<br/>2 - Invalid input<br/>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/SiteCacheRuleResponse"
                  }, {
                    "$ref" : "#/components/schemas/ApiResult"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/sites/performance/caching-rules/edit" : {
      "post" : {
        "tags" : [ "Site Management" ],
        "summary" : "Edit a cache rule",
        "description" : "Use this operation for editing a cache rule",
        "operationId" : "editCacheRule",
        "parameters" : [ {
          "name" : "action",
          "in" : "query",
          "description" : "Rule action. See Possible action parameter values.<br/>Possible action parameter values:<br/><ul><li><b>HTTP_CACHE_MAKE_STATIC</b> Cache Resource</li><li><b>HTTP_CACHE_CLIENT_CACHE_CTL</b> Cache Resource on Client</li><li><b>HTTP_CACHE_FORCE_UNCACHEABLE</b> Don't Cache Resource</li><li><b>HTTP_CACHE_DIFFERENTIATE_SSL</b> Differentiate Cache Key by HTTP/HTTPS Scheme</li><li><b>HTTP_CACHE_DIFFERENTIATE_BY_HEADER</b> Differentiate Cache Key by Header</li><li><b>HTTP_CACHE_DIFFERENTIATE_BY_COOKIE</b> Differentiate Cache Key by Cookie</li><li><b>HTTP_CACHE_IGNORE_PARAMS</b> Ignore Parameters in Cache Key</li><li><b>HTTP_CACHE_IGNORE_AUTH_HEADER</b> CacheRuleAction.HTTP_CACHE_IGNORE_AUTH_HEADER</li><li><b>HTTP_CACHE_FORCE_VALIDATION</b> Force User Authentication</li><li><b>HTTP_CACHE_ADD_TAG</b> Create Tag</li><li><b>HTTP_CACHE_ENRICH_CACHE_KEY</b> Enrich Cache Key</li></ul>",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "HTTP_CACHE_CREATE_TAG"
        }, {
          "name" : "site_id",
          "in" : "query",
          "description" : "Numeric identifier of the site to operate on.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 10
        }, {
          "name" : "rule_id",
          "in" : "query",
          "description" : "ID of the rule to change.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 3746
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Rule name.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "rule1"
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "Rule will trigger only a request that matches this filter. For more details on filters, see <a href=\"https://docs.imperva.com/csh?context=rule_syntax\">Syntax Guide</a>.",
          "schema" : {
            "type" : "string"
          },
          "example" : "URL ==  /admin"
        }, {
          "name" : "ttl",
          "in" : "query",
          "description" : "Rule TTL. Only relevant when action is HTTP_CACHE_MAKE_STATIC or HTTP_CACHE_CLIENT_CACHE_CTL",
          "schema" : {
            "type" : "string"
          },
          "example" : "TTL value"
        }, {
          "name" : "ttl_unit",
          "in" : "query",
          "description" : "Rule TTL time unit.<br/>Must be one of SECONDS, MINUTES, HOURS, DAYS or WEEKS. If no time unit is provided, SECONDS is used.<br/>Only relevant when action is HTTP_CACHE_MAKE_STATIC or HTTP_CACHE_CLIENT_CACHE_CTL",
          "schema" : {
            "type" : "string"
          },
          "example" : "SECONDS"
        }, {
          "name" : "differentiated_by_value",
          "in" : "query",
          "description" : "Value to differentiate by. HTTP_CACHE_DIFFERENTIATE_BY_HEADER - header name, HTTP_CACHE_DIFFERENTIATE_BY_COOKIE - cookie name, HTTP_CACHE_DIFFERENTIATE_BY_GEO - geo location<br/> (ISO 3166-1 alpha-2 country codes ), otherwise irrelevant.",
          "schema" : {
            "type" : "string"
          },
          "example" : "cookie name"
        }, {
          "name" : "params",
          "in" : "query",
          "description" : "Comma separated list of parameters to ignore.",
          "schema" : {
            "type" : "string"
          },
          "example" : "{a,b,c}"
        }, {
          "name" : "all_params",
          "in" : "query",
          "description" : "When set to <b>true</b>: all parameters in cache key will be ignored.<br/>Default: false.<br/>Relevant for HTTP_CACHE_IGNORE_PARAMS action",
          "schema" : {
            "type" : "boolean"
          },
          "example" : true
        }, {
          "name" : "tag_name",
          "in" : "query",
          "description" : "The name of the tag to add.",
          "schema" : {
            "type" : "string"
          },
          "example" : "tag1"
        }, {
          "name" : "text",
          "in" : "query",
          "description" : "Add text to the cache key as suffix. Relevant for the HTTP_CACHE_ENRICH_CACHE_KEY action",
          "schema" : {
            "type" : "string"
          },
          "example" : "cache"
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>9413 - Unknown/unauthorized site_id<br/>9415 - Operation not allowed<br/>2 - Invalid input<br/>2002 - Object is not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/infra/stats" : {
      "post" : {
        "tags" : [ "Traffic Statistics and Logs" ],
        "summary" : "Get Infrastructure Protection Statistics",
        "description" : "Use this operation to get Infrastructure Protection event information for an account.",
        "operationId" : "getInfraStats",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account to operate on.<br/>If not specified, operation will be performed on the account identified by the authentication parameters.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 10
        }, {
          "name" : "ip_prefix",
          "in" : "query",
          "description" : "Specific Protected IP or IP range. For example, 1.1.1.0/24.",
          "schema" : {
            "type" : "string"
          },
          "example" : "1.1.1.0/24"
        }, {
          "name" : "traffic",
          "in" : "query",
          "description" : "Specific traffic. One of: Total, Passed, Blocked.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Blocked"
        }, {
          "name" : "traffic_type",
          "in" : "query",
          "description" : "A comma separated list of specific traffic types. Any of: UDP, TCP, DNS, DNS_RESPONSE, ICMP, SYN, FRAG, LARGE_SYN, NTP, NETFLOW, SSDP, GENERAL. Cannot be used together with the pop parameter.",
          "schema" : {
            "type" : "string"
          },
          "example" : "TCP"
        }, {
          "name" : "pop",
          "in" : "query",
          "description" : "A comma separated list of specific PoP names. For example: iad, tko. Cannot be used together with the traffic_type parameter. For the list of PoP codes and locations, see <a href=\"https://docs.imperva.com/csh?context=pops\">Imperva Data Centers (PoPs)</a>.",
          "schema" : {
            "type" : "string"
          },
          "example" : "tko"
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "The start date in milliseconds, since 1970.<br/>Some operations require the user to specify a time range. This is done via the time_range parameter, which accepts the following values:<br/><ul><li><b>today</b> Retrieve data from midnight today until the current time.</li><li><b>last_7_days</b> Retrieve data from midnight of 7 days ago until the current time.</li><li><b>last_30_days</b> Retrieve data from midnight of 30 days ago until the current time.</li><li><b>last_90_days</b> Retrieve data from midnight of 90 days ago until the current time.</li><li><b>month_to_date</b> Retrieve data from midnight of the first day of the month until the current time.</li><li><b>custom</b> Specify a custom time range using two additional parameters: start and end.<br/>Results are provided for full days only, starting from midnight. A time range of less than 24 hours gives results for the full day.<br/>For example:<ul><li>A time range of 14:00 - 20:00 yesterday gives results for all of yesterday (midnight to midnight) - a full day.</li><li>A time range of 14:00 last Tuesday to 14:00 last Wednesday gives results for all of Tuesday and Wednesday - two full days.</li> <li>A time range of 14:00 yesterday to 14:00 today gives results for all of yesterday starting from midnight until the current time today.</li></ul></li></ul>",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 1610356734
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "The end date in milliseconds, since 1970.<br/>Some operations require the user to specify a time range. This is done via the time_range parameter, which accepts the following values:<br/><ul><li><b>today</b> Retrieve data from midnight today until the current time.</li><li><b>last_7_days</b> Retrieve data from midnight of 7 days ago until the current time.</li><li><b>last_30_days</b> Retrieve data from midnight of 30 days ago until the current time.</li><li><b>last_90_days</b> Retrieve data from midnight of 90 days ago until the current time.</li><li><b>month_to_date</b> Retrieve data from midnight of the first day of the month until the current time.</li><li><b>custom</b> Specify a custom time range using two additional parameters: start and end.<br/>Results are provided for full days only, starting from midnight. A time range of less than 24 hours gives results for the full day.<br/>For example:<ul><li>A time range of 14:00 - 20:00 yesterday gives results for all of yesterday (midnight to midnight) - a full day.</li><li>A time range of 14:00 last Tuesday to 14:00 last Wednesday gives results for all of Tuesday and Wednesday - two full days.</li> <li>A time range of 14:00 yesterday to 14:00 today gives results for all of yesterday starting from midnight until the current time today.</li></ul></li></ul>",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 1610356734
        }, {
          "name" : "directionTypes",
          "in" : "query",
          "description" : "The type of direction(INGRESS/EGRESS) to filter the data",
          "schema" : {
            "type" : "string"
          },
          "example" : "INGRESS"
        }, {
          "name" : "range_type",
          "in" : "query",
          "description" : "Can be one of the following: BGP, PROTECTED_IP",
          "schema" : {
            "type" : "string"
          },
          "example" : "INCAPSULA_IP"
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>2 - Invalid input<br/>3015 - Internal error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/InfraStatsApiResponse"
                  }, {
                    "$ref" : "#/components/schemas/ApiResult"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/api/stats/v1" : {
      "post" : {
        "tags" : [ "Traffic Statistics and Logs" ],
        "summary" : "Get statistics",
        "description" : "Get site statistics for one or more sites. This operation may return multiple statistics, as specified in the stats parameter.",
        "operationId" : "getStats",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account to fetch data for.<br/>Note: You must specify either account_id or site_id.",
          "schema" : {
            "type" : "string"
          },
          "example" : 10
        }, {
          "name" : "time_range",
          "in" : "query",
          "description" : "Time range to fetch data for.<br/>Some operations require the user to specify a time range. This is done via the time_range parameter, which accepts the following values:<br/><ul><li><b>today</b> Retrieve data from midnight today until the current time.</li><li><b>last_7_days</b> Retrieve data from midnight of 7 days ago until the current time.</li><li><b>last_30_days</b> Retrieve data from midnight of 30 days ago until the current time.</li><li><b>last_90_days</b> Retrieve data from midnight of 90 days ago until the current time.</li><li><b>month_to_date</b> Retrieve data from midnight of the first day of the month until the current time.</li><li><b>custom</b> Specify a custom time range using two additional parameters: start and end.<br/>Results are provided for full days only, starting from midnight. A time range of less than 24 hours gives results for the full day.<br/>For example:<ul><li>A time range of 14:00 - 20:00 yesterday gives results for all of yesterday (midnight to midnight) - a full day.</li><li>A time range of 14:00 last Tuesday to 14:00 last Wednesday gives results for all of Tuesday and Wednesday - two full days.</li> <li>A time range of 14:00 yesterday to 14:00 today gives results for all of yesterday starting from midnight until the current time today.</li></ul></li></ul>",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "last_7_days"
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "Start date in milliseconds since 1970. Used together with the time_range parameter to specify a custom time range.<br/>Some operations require the user to specify a time range. This is done via the time_range parameter, which accepts the following values:<br/><ul><li><b>today</b> Retrieve data from midnight today until the current time.</li><li><b>last_7_days</b> Retrieve data from midnight of 7 days ago until the current time.</li><li><b>last_30_days</b> Retrieve data from midnight of 30 days ago until the current time.</li><li><b>last_90_days</b> Retrieve data from midnight of 90 days ago until the current time.</li><li><b>month_to_date</b> Retrieve data from midnight of the first day of the month until the current time.</li><li><b>custom</b> Specify a custom time range using two additional parameters: start and end.<br/>Results are provided for full days only, starting from midnight. A time range of less than 24 hours gives results for the full day.<br/>For example:<ul><li>A time range of 14:00 - 20:00 yesterday gives results for all of yesterday (midnight to midnight) - a full day.</li><li>A time range of 14:00 last Tuesday to 14:00 last Wednesday gives results for all of Tuesday and Wednesday - two full days.</li> <li>A time range of 14:00 yesterday to 14:00 today gives results for all of yesterday starting from midnight until the current time today.</li></ul></li></ul>",
          "schema" : {
            "type" : "string"
          },
          "example" : 1610356734
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "End date in milliseconds since 1970. Used together with the time_range parameter to specify a custom time range.<br/>Some operations require the user to specify a time range. This is done via the time_range parameter, which accepts the following values:<br/><ul><li><b>today</b> Retrieve data from midnight today until the current time.</li><li><b>last_7_days</b> Retrieve data from midnight of 7 days ago until the current time.</li><li><b>last_30_days</b> Retrieve data from midnight of 30 days ago until the current time.</li><li><b>last_90_days</b> Retrieve data from midnight of 90 days ago until the current time.</li><li><b>month_to_date</b> Retrieve data from midnight of the first day of the month until the current time.</li><li><b>custom</b> Specify a custom time range using two additional parameters: start and end.<br/>Results are provided for full days only, starting from midnight. A time range of less than 24 hours gives results for the full day.<br/>For example:<ul><li>A time range of 14:00 - 20:00 yesterday gives results for all of yesterday (midnight to midnight) - a full day.</li><li>A time range of 14:00 last Tuesday to 14:00 last Wednesday gives results for all of Tuesday and Wednesday - two full days.</li> <li>A time range of 14:00 yesterday to 14:00 today gives results for all of yesterday starting from midnight until the current time today.</li></ul></li></ul>",
          "schema" : {
            "type" : "string"
          },
          "example" : 1610356734
        }, {
          "name" : "site_id",
          "in" : "query",
          "description" : "Numeric identifier of the site to fetch data for. Multiple sites can be specified in a comma separated list. For example: 123,124,125.<br/>Note: You must specify either account_id or site_id.",
          "schema" : {
            "type" : "string"
          },
          "example" : 123
        }, {
          "name" : "stats",
          "in" : "query",
          "description" : "Statistics to fetch, as specified in the table below. Multiple statistics can be specified in a comma separated list.<br/>Values for the stats parameters:<br/><ul><li><b>visits_timeseries</b> Number of visits by type (Humans/Bots) over time.</li><li><b>hits_timeseries</b> Number of hits by type (Humans/Bots/Blocked) over time and per second.</li><li><b>bandwidth_timeseries</b> Amount of bytes (bandwidth) and bits per second (throughput) transferred via the Imperva network from clients to proxy servers and vice-versa over time.</li><li><b>requests_geo_dist_summary</b> Total number of requests routed via the Imperva network by data center location.</li><li><b>visits_dist_summary</b> Total number of visits per client application and country.</li><li><b>caching</b> Total number of requests and bytes that were cached by the Imperva network.</li><li><b>caching_timeseries</b> Number of requests and bytes that were cached by the Imperva network, with one day resolution, with info regarding the caching mode (standard or advanced).</li><li><b>threats</b> Total number of threats by type with additional information regarding the security rules configuration.</li><li><b>incap_rules</b> List of security rules with total number of reported incidents for each rule.</li><li><b>incap_rules_timeseries</b> List of security rules with a series of reported incidents for each rule with the specified granularity.</li><li><b>delivery_rules</b> List of delivery rules with total number of hits for each rule.</li><li><b>delivery_rules_timeseries</b> List of delivery rules with a series of hits for each rule with the specified granularity.</li></ul>",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "threats"
        }, {
          "name" : "granularity",
          "in" : "query",
          "description" : "Time interval in milliseconds between data points for time series statistics. (See the timeseries values in the table below.)<br/>The default granularity depends on the specified time range, as follows:<br/><ul><li>Time range of less than 24 hours: Default granularity is 7200000 (2 hours).</li><li>Time range of between 24 hours and 30 days: Default granularity is 86400000 (1 day).</li><li>Time range of more than 30 days: Default granularity is 259200000 (3 days).</li></ul>The response includes one result for each interval. For example, if you specify a time range value of last_7_days, the default granularity is 1 day, and the response will return 7 results.",
          "schema" : {
            "type" : "string"
          },
          "example" : 7200000
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/> 13001 (Timerange invalid), 13002 (Granularity invalid)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/ApiResultSiteStats"
                  }, {
                    "$ref" : "#/components/schemas/ApiResult"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/infra/top-table" : {
      "post" : {
        "tags" : [ "Traffic Statistics and Logs" ],
        "summary" : "Get Infrastructure Protection Top Items (Table View)",
        "description" : "Use this operation to view the highest peak values and highest average values for a protected IP range during a selected time period.",
        "operationId" : "getInfraProtectTopTable",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account to operate on.<br/>If not specified, operation will be performed on the account identified by the authentication parameters.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 10
        }, {
          "name" : "ip_range",
          "in" : "query",
          "description" : "The customer's IP range.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "INCAPSULA_IP"
        }, {
          "name" : "range_type",
          "in" : "query",
          "description" : "One of the following: BGP, PROTECTED_IP",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "PROTECTED_IP"
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "The start date in milliseconds, since 1970.<br/>Some operations require the user to specify a time range. This is done via the time_range parameter, which accepts the following values:<br/><ul><li><b>today</b> Retrieve data from midnight today until the current time.</li><li><b>last_7_days</b> Retrieve data from midnight of 7 days ago until the current time.</li><li><b>last_30_days</b> Retrieve data from midnight of 30 days ago until the current time.</li><li><b>last_90_days</b> Retrieve data from midnight of 90 days ago until the current time.</li><li><b>month_to_date</b> Retrieve data from midnight of the first day of the month until the current time.</li><li><b>custom</b> Specify a custom time range using two additional parameters: start and end.<br/>Results are provided for full days only, starting from midnight. A time range of less than 24 hours gives results for the full day.<br/>For example:<ul><li>A time range of 14:00 - 20:00 yesterday gives results for all of yesterday (midnight to midnight) - a full day.</li><li>A time range of 14:00 last Tuesday to 14:00 last Wednesday gives results for all of Tuesday and Wednesday - two full days.</li> <li>A time range of 14:00 yesterday to 14:00 today gives results for all of yesterday starting from midnight until the current time today.</li></ul></li></ul>",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 1610356734
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "The end date in milliseconds, since 1970.<br/>Some operations require the user to specify a time range. This is done via the time_range parameter, which accepts the following values:<br/><ul><li><b>today</b> Retrieve data from midnight today until the current time.</li><li><b>last_7_days</b> Retrieve data from midnight of 7 days ago until the current time.</li><li><b>last_30_days</b> Retrieve data from midnight of 30 days ago until the current time.</li><li><b>last_90_days</b> Retrieve data from midnight of 90 days ago until the current time.</li><li><b>month_to_date</b> Retrieve data from midnight of the first day of the month until the current time.</li><li><b>custom</b> Specify a custom time range using two additional parameters: start and end.<br/>Results are provided for full days only, starting from midnight. A time range of less than 24 hours gives results for the full day.<br/>For example:<ul><li>A time range of 14:00 - 20:00 yesterday gives results for all of yesterday (midnight to midnight) - a full day.</li><li>A time range of 14:00 last Tuesday to 14:00 last Wednesday gives results for all of Tuesday and Wednesday - two full days.</li> <li>A time range of 14:00 yesterday to 14:00 today gives results for all of yesterday starting from midnight until the current time today.</li></ul></li></ul>",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 1610356734
        }, {
          "name" : "data_type",
          "in" : "query",
          "description" : "One of the following: SRC_IP, DST_IP, SRC_PORT_PROTOCOL, DST_PORT_PROTOCOL",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "SRC_IP"
        }, {
          "name" : "metric_type",
          "in" : "query",
          "description" : "One of the following: SRC_IP, DST_IP, SRC_PORT_PROTOCOL, DST_PORT_PROTOCOL",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "BPS"
        }, {
          "name" : "mitigation_type",
          "in" : "query",
          "description" : "One of the following: BLOCK, PASS",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "BLOCK"
        }, {
          "name" : "aggregation_type",
          "in" : "query",
          "description" : "One of the following: PEAK, AVERAGE",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "AVERAGE"
        }, {
          "name" : "data_storage_region",
          "in" : "query",
          "description" : "The data region to use. If not specified, account's default data region will be used.",
          "schema" : {
            "type" : "string"
          },
          "example" : "EU"
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>2 - Invalid input<br/>1 - Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/AnalyticsTopTableApiResponse"
                  }, {
                    "$ref" : "#/components/schemas/ApiResult"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/infra/top-graph" : {
      "post" : {
        "tags" : [ "Traffic Statistics and Logs" ],
        "summary" : "Get Infrastructure Protection Top Items (Graph View)",
        "description" : "Use this operation to view the highest peak values and highest average values for a protected IP range during a selected time period.",
        "operationId" : "getInfraProtectTopData",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account to operate on.<br/>If not specified, operation will be performed on the account identified by the authentication parameters.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 10
        }, {
          "name" : "ip_range",
          "in" : "query",
          "description" : "The customer's IP range.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "INCAPSULA_IP"
        }, {
          "name" : "range_type",
          "in" : "query",
          "description" : "One of the following: BGP, PROTECTED_IP",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "PROTECTED_IP"
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "The start date in milliseconds, since 1970.<br/>Some operations require the user to specify a time range. This is done via the time_range parameter, which accepts the following values:<br/><ul><li><b>today</b> Retrieve data from midnight today until the current time.</li><li><b>last_7_days</b> Retrieve data from midnight of 7 days ago until the current time.</li><li><b>last_30_days</b> Retrieve data from midnight of 30 days ago until the current time.</li><li><b>last_90_days</b> Retrieve data from midnight of 90 days ago until the current time.</li><li><b>month_to_date</b> Retrieve data from midnight of the first day of the month until the current time.</li><li><b>custom</b> Specify a custom time range using two additional parameters: start and end.<br/>Results are provided for full days only, starting from midnight. A time range of less than 24 hours gives results for the full day.<br/>For example:<ul><li>A time range of 14:00 - 20:00 yesterday gives results for all of yesterday (midnight to midnight) - a full day.</li><li>A time range of 14:00 last Tuesday to 14:00 last Wednesday gives results for all of Tuesday and Wednesday - two full days.</li> <li>A time range of 14:00 yesterday to 14:00 today gives results for all of yesterday starting from midnight until the current time today.</li></ul></li></ul>",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 1610356734
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "The end date in milliseconds, since 1970.<br/>Some operations require the user to specify a time range. This is done via the time_range parameter, which accepts the following values:<br/><ul><li><b>today</b> Retrieve data from midnight today until the current time.</li><li><b>last_7_days</b> Retrieve data from midnight of 7 days ago until the current time.</li><li><b>last_30_days</b> Retrieve data from midnight of 30 days ago until the current time.</li><li><b>last_90_days</b> Retrieve data from midnight of 90 days ago until the current time.</li><li><b>month_to_date</b> Retrieve data from midnight of the first day of the month until the current time.</li><li><b>custom</b> Specify a custom time range using two additional parameters: start and end.<br/>Results are provided for full days only, starting from midnight. A time range of less than 24 hours gives results for the full day.<br/>For example:<ul><li>A time range of 14:00 - 20:00 yesterday gives results for all of yesterday (midnight to midnight) - a full day.</li><li>A time range of 14:00 last Tuesday to 14:00 last Wednesday gives results for all of Tuesday and Wednesday - two full days.</li> <li>A time range of 14:00 yesterday to 14:00 today gives results for all of yesterday starting from midnight until the current time today.</li></ul></li></ul>",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 1610356734
        }, {
          "name" : "data_type",
          "in" : "query",
          "description" : "One of the following: SRC_IP, DST_IP, SRC_PORT_PROTOCOL, DST_PORT_PROTOCOL",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "SRC_IP"
        }, {
          "name" : "metric_type",
          "in" : "query",
          "description" : "One of the following: BW, PPS",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "BPS"
        }, {
          "name" : "mitigation_type",
          "in" : "query",
          "description" : "One of the following: BLOCK, PASS",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "BLOCK"
        }, {
          "name" : "data_storage_region",
          "in" : "query",
          "description" : "The data region to use. If not specified, account's default data region will be used.",
          "schema" : {
            "type" : "string"
          },
          "example" : "EU"
        }, {
          "name" : "objects",
          "in" : "query",
          "description" : "A comma separated list of items to fetch data for. e.g., 10.10.10.10, 2.2.2.2. If not specified, top items are automatically fetched.",
          "schema" : {
            "type" : "string"
          },
          "example" : "1.1.1.1"
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>2 - Invalid input<br/>1 - Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/AnalyticsTopGraphDataResponse"
                  }, {
                    "$ref" : "#/components/schemas/ApiResult"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/infra/histogram" : {
      "post" : {
        "tags" : [ "Traffic Statistics and Logs" ],
        "summary" : "Get Infrastructure Protection Histogram",
        "description" : "Use this operation to view the highest packet size values for a protected IP range during a selected time period.",
        "operationId" : "getInfraProtectHistogram",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account to operate on.<br/>If not specified, operation will be performed on the account identified by the authentication parameters.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 10
        }, {
          "name" : "ip_range",
          "in" : "query",
          "description" : "The customer's IP range.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "INCAPSULA_IP"
        }, {
          "name" : "range_type",
          "in" : "query",
          "description" : "One of the following: BGP, PROTECTED_IP",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "PROTECTED_IP"
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "The start date in milliseconds, since 1970.<br/>Some operations require the user to specify a time range. This is done via the time_range parameter, which accepts the following values:<br/><ul><li><b>today</b> Retrieve data from midnight today until the current time.</li><li><b>last_7_days</b> Retrieve data from midnight of 7 days ago until the current time.</li><li><b>last_30_days</b> Retrieve data from midnight of 30 days ago until the current time.</li><li><b>last_90_days</b> Retrieve data from midnight of 90 days ago until the current time.</li><li><b>month_to_date</b> Retrieve data from midnight of the first day of the month until the current time.</li><li><b>custom</b> Specify a custom time range using two additional parameters: start and end.<br/>Results are provided for full days only, starting from midnight. A time range of less than 24 hours gives results for the full day.<br/>For example:<ul><li>A time range of 14:00 - 20:00 yesterday gives results for all of yesterday (midnight to midnight) - a full day.</li><li>A time range of 14:00 last Tuesday to 14:00 last Wednesday gives results for all of Tuesday and Wednesday - two full days.</li> <li>A time range of 14:00 yesterday to 14:00 today gives results for all of yesterday starting from midnight until the current time today.</li></ul></li></ul>",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 1610356734
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "The end date in milliseconds, since 1970.<br/>Some operations require the user to specify a time range. This is done via the time_range parameter, which accepts the following values:<br/><ul><li><b>today</b> Retrieve data from midnight today until the current time.</li><li><b>last_7_days</b> Retrieve data from midnight of 7 days ago until the current time.</li><li><b>last_30_days</b> Retrieve data from midnight of 30 days ago until the current time.</li><li><b>last_90_days</b> Retrieve data from midnight of 90 days ago until the current time.</li><li><b>month_to_date</b> Retrieve data from midnight of the first day of the month until the current time.</li><li><b>custom</b> Specify a custom time range using two additional parameters: start and end.<br/>Results are provided for full days only, starting from midnight. A time range of less than 24 hours gives results for the full day.<br/>For example:<ul><li>A time range of 14:00 - 20:00 yesterday gives results for all of yesterday (midnight to midnight) - a full day.</li><li>A time range of 14:00 last Tuesday to 14:00 last Wednesday gives results for all of Tuesday and Wednesday - two full days.</li> <li>A time range of 14:00 yesterday to 14:00 today gives results for all of yesterday starting from midnight until the current time today.</li></ul></li></ul>",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 1610356734
        }, {
          "name" : "mitigation_type",
          "in" : "query",
          "description" : "One of the following: BLOCK, PASS",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "BLOCK"
        }, {
          "name" : "data_storage_region",
          "in" : "query",
          "description" : "The data region to use. If not specified, account's default data region will be used.",
          "schema" : {
            "type" : "string"
          },
          "example" : "EU"
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>2 - Invalid input<br/>1 - Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/AnalyticsHistogramApiResponse"
                  }, {
                    "$ref" : "#/components/schemas/ApiResult"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/api/visits/v1" : {
      "post" : {
        "tags" : [ "Traffic Statistics and Logs" ],
        "summary" : "Get visits",
        "description" : "Use this operation to get a log of recent visits to a website.",
        "operationId" : "getVisits",
        "parameters" : [ {
          "name" : "site_id",
          "in" : "query",
          "description" : "Numeric identifier of the site to operate on.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 10
        }, {
          "name" : "time_range",
          "in" : "query",
          "description" : "Time range to fetch data for. Default is last_7_days.<br/>Some operations require the user to specify a time range. This is done via the time_range parameter, which accepts the following values:<br/><ul><li><b>today</b> Retrieve data from midnight today until the current time.</li><li><b>last_7_days</b> Retrieve data from midnight of 7 days ago until the current time.</li><li><b>last_30_days</b> Retrieve data from midnight of 30 days ago until the current time.</li><li><b>last_90_days</b> Retrieve data from midnight of 90 days ago until the current time.</li><li><b>month_to_date</b> Retrieve data from midnight of the first day of the month until the current time.</li><li><b>custom</b> Specify a custom time range using two additional parameters: start and end.<br/>Results are provided for full days only, starting from midnight. A time range of less than 24 hours gives results for the full day.<br/>For example:<ul><li>A time range of 14:00 - 20:00 yesterday gives results for all of yesterday (midnight to midnight) - a full day.</li><li>A time range of 14:00 last Tuesday to 14:00 last Wednesday gives results for all of Tuesday and Wednesday - two full days.</li> <li>A time range of 14:00 yesterday to 14:00 today gives results for all of yesterday starting from midnight until the current time today.</li></ul></li></ul>",
          "schema" : {
            "type" : "string"
          },
          "example" : "last_7_days"
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "Start date in milliseconds since 1970.<br/>Some operations require the user to specify a time range. This is done via the time_range parameter, which accepts the following values:<br/><ul><li><b>today</b> Retrieve data from midnight today until the current time.</li><li><b>last_7_days</b> Retrieve data from midnight of 7 days ago until the current time.</li><li><b>last_30_days</b> Retrieve data from midnight of 30 days ago until the current time.</li><li><b>last_90_days</b> Retrieve data from midnight of 90 days ago until the current time.</li><li><b>month_to_date</b> Retrieve data from midnight of the first day of the month until the current time.</li><li><b>custom</b> Specify a custom time range using two additional parameters: start and end.<br/>Results are provided for full days only, starting from midnight. A time range of less than 24 hours gives results for the full day.<br/>For example:<ul><li>A time range of 14:00 - 20:00 yesterday gives results for all of yesterday (midnight to midnight) - a full day.</li><li>A time range of 14:00 last Tuesday to 14:00 last Wednesday gives results for all of Tuesday and Wednesday - two full days.</li> <li>A time range of 14:00 yesterday to 14:00 today gives results for all of yesterday starting from midnight until the current time today.</li></ul></li></ul>",
          "schema" : {
            "type" : "string"
          },
          "example" : 1610356734
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "End date in milliseconds since 1970.<br/>Some operations require the user to specify a time range. This is done via the time_range parameter, which accepts the following values:<br/><ul><li><b>today</b> Retrieve data from midnight today until the current time.</li><li><b>last_7_days</b> Retrieve data from midnight of 7 days ago until the current time.</li><li><b>last_30_days</b> Retrieve data from midnight of 30 days ago until the current time.</li><li><b>last_90_days</b> Retrieve data from midnight of 90 days ago until the current time.</li><li><b>month_to_date</b> Retrieve data from midnight of the first day of the month until the current time.</li><li><b>custom</b> Specify a custom time range using two additional parameters: start and end.<br/>Results are provided for full days only, starting from midnight. A time range of less than 24 hours gives results for the full day.<br/>For example:<ul><li>A time range of 14:00 - 20:00 yesterday gives results for all of yesterday (midnight to midnight) - a full day.</li><li>A time range of 14:00 last Tuesday to 14:00 last Wednesday gives results for all of Tuesday and Wednesday - two full days.</li> <li>A time range of 14:00 yesterday to 14:00 today gives results for all of yesterday starting from midnight until the current time today.</li></ul></li></ul>",
          "schema" : {
            "type" : "string"
          },
          "example" : 1610356734
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The number of objects to return in the response. Defaults to 10. Maximum is 100.",
          "schema" : {
            "type" : "string"
          },
          "example" : 15
        }, {
          "name" : "page_num",
          "in" : "query",
          "description" : "The page to return starting from 0. Default to 0.",
          "schema" : {
            "type" : "string"
          },
          "example" : 1
        }, {
          "name" : "security",
          "in" : "query",
          "description" : "Filter the sessions that were handled according to the security-related specifications. Multiple values are supported, e.g.: \"api.threats.action.block_ip, api.threats.sql_injection\".",
          "schema" : {
            "type" : "string"
          },
          "example" : "api.threats.action.block_ip"
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "Filter the sessions coming from the specified country.",
          "schema" : {
            "type" : "string"
          },
          "example" : "SE"
        }, {
          "name" : "ip",
          "in" : "query",
          "description" : "Filter the sessions coming from the specified IP.",
          "schema" : {
            "type" : "string"
          },
          "example" : "1.2.3.4"
        }, {
          "name" : "visit_id",
          "in" : "query",
          "description" : "Comma separated list of visit IDs to load.",
          "schema" : {
            "type" : "string"
          },
          "example" : 133077760038625792
        }, {
          "name" : "list_live_visits",
          "in" : "query",
          "description" : "Whether or not to list visits that did not end and that may still be updated.<br/>Possible values: true, false<br/>Default: true",
          "schema" : {
            "type" : "string"
          },
          "example" : true
        }, {
          "name" : "use_previous_region",
          "in" : "query",
          "description" : "Whether or not to list visits from old region data. Valid only if a data region was changed in the last 90 days. One of: true | false. Default: false",
          "schema" : {
            "type" : "string"
          },
          "example" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>1 - Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/ApiResultSessions"
                  }, {
                    "$ref" : "#/components/schemas/ApiResult"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/api/logscollector/upload/publickey" : {
      "post" : {
        "tags" : [ "Traffic Statistics and Logs" ],
        "summary" : "Upload Public Key",
        "description" : "Available only for Enterprise Plan customers that purchased the Security Logs Integration SKU.",
        "operationId" : "uploadLCPublicKey",
        "parameters" : [ {
          "name" : "config_id",
          "in" : "query",
          "description" : "The Logs Collector configuration identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 5912
        }, {
          "name" : "public_key",
          "in" : "query",
          "description" : "The public key file (2048bit) in base64 format (without password protection).",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAp dkVeG9ypRTuOUq4jocTQBXupcT wqH/gmCxb5xqdp0Dxrac91VsPmmGTNw0vMrcZfXPzRM26zzkhakA9vKR9TobpML3Tv90Gb43XByHjwipYNBxN/nfjCksXigqfqLUtiUODPfSqdwoUk6PJHAUnCvp8boPGaLFiFvwlPwtjBp8lNb4jgMH3Czbbgk3Q p zXIEg024WAGnp NrjsNM1xAuP9ON T096iBJaJqX7H2heWGw/7UqR eMtv7/vGilhi9kX2/sgNe5LDdAqdcWjzeCDXVqzqk rxil kHnAkwJ7eNAi49i4f6Zl6Zyhpf69fI0KOjaCI7QrEXZ1jwLQIDAQAB"
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>2 - Invalid input<br/>13008 - Invalid configuration ID<br/>13009 - Invalid key length<br/>13007 - Invalid public key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/ApiResultLCPublicKey"
                  }, {
                    "$ref" : "#/components/schemas/ApiResult"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/api/logscollector/change/status" : {
      "post" : {
        "tags" : [ "Traffic Statistics and Logs" ],
        "summary" : "Change Logs Collector Configuration Status",
        "description" : "Change the status of the Logs Collector configuration.",
        "operationId" : "changeLogsCollectorsConfigStatus",
        "parameters" : [ {
          "name" : "config_id",
          "in" : "query",
          "description" : "The Logs Collector configuration identifier.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 5912
        }, {
          "name" : "logs_config_new_status",
          "in" : "query",
          "description" : "The new configuration status of the Logs Collector.\nPossible values: ACTIVE, SUSPENDED",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACTIVE"
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>2 - Invalid input<br/>13008 - Invalid configuration ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/infra/events" : {
      "post" : {
        "tags" : [ "Traffic Statistics and Logs" ],
        "summary" : "Get Infrastructure Protection Events",
        "description" : "Use this operation to get Infrastructure Protection event information for an account",
        "operationId" : "getInfraEvents",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account to operate on.<br/>If not specified, operation will be performed on the account identified by the authentication parameters.",
          "schema" : {
            "type" : "string"
          },
          "example" : 10
        }, {
          "name" : "event_type",
          "in" : "query",
          "description" : "A comma separated list of specific event types. Any of: GRE_TUNNEL_UP, GRE_TUNNEL_DOWN, ORIGIN_CONNECTION_GRE_UP, ORIGIN_CONNECTION_GRE_DOWN, ORIGIN_CONNECTION_ECX_UP, ORIGIN_CONNECTION_ECX_DOWN, ORIGIN_CONNECTION_CROSS_CONNECT_UP, ORIGIN_CONNECTION_CROSS_CONNECT_DOWN, DDOS_START_IP_RANGE, DDOS_STOP_IP_RANGE, DDOS_QUIET_TIME_IP_RANGE, EXPORTER_NO_DATA, EXPORTER_BAD_DATA, EXPORTER_GOOD_DATA, MONITORING_CRITICAL_ATTACK, PROTECTED_IP_STATUS_UP, PROTECTED_IP_STATUS_DOWN, PER_IP_DDOS_START_IP_RANGE.",
          "schema" : {
            "type" : "string"
          },
          "example" : "GRE_TUNNEL_UP"
        }, {
          "name" : "ip_prefix",
          "in" : "query",
          "description" : "Specific Protected IP or IP range. For example, 1.1.1.0/24.",
          "schema" : {
            "type" : "string"
          },
          "example" : "1.1.1.0/24"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The number of objects to return in the response.<br/>Default: 50<br/>Maximum: 100",
          "schema" : {
            "type" : "string"
          },
          "example" : 2
        }, {
          "name" : "page_num",
          "in" : "query",
          "description" : "The page to return starting from 0. Default: 0",
          "schema" : {
            "type" : "string"
          },
          "example" : 1
        }, {
          "name" : "start",
          "in" : "query",
          "description" : "The start date in milliseconds, since 1970.<br/>Some operations require the user to specify a time range. This is done via the time_range parameter, which accepts the following values:<br/><ul><li><b>today</b> Retrieve data from midnight today until the current time.</li><li><b>last_7_days</b> Retrieve data from midnight of 7 days ago until the current time.</li><li><b>last_30_days</b> Retrieve data from midnight of 30 days ago until the current time.</li><li><b>last_90_days</b> Retrieve data from midnight of 90 days ago until the current time.</li><li><b>month_to_date</b> Retrieve data from midnight of the first day of the month until the current time.</li><li><b>custom</b> Specify a custom time range using two additional parameters: start and end.<br/>Results are provided for full days only, starting from midnight. A time range of less than 24 hours gives results for the full day.<br/>For example:<ul><li>A time range of 14:00 - 20:00 yesterday gives results for all of yesterday (midnight to midnight) - a full day.</li><li>A time range of 14:00 last Tuesday to 14:00 last Wednesday gives results for all of Tuesday and Wednesday - two full days.</li> <li>A time range of 14:00 yesterday to 14:00 today gives results for all of yesterday starting from midnight until the current time today.</li></ul></li></ul>",
          "schema" : {
            "type" : "string"
          },
          "example" : 1610356734
        }, {
          "name" : "end",
          "in" : "query",
          "description" : "The end date in milliseconds, since 1970.<br/>Some operations require the user to specify a time range. This is done via the time_range parameter, which accepts the following values:<br/><ul><li><b>today</b> Retrieve data from midnight today until the current time.</li><li><b>last_7_days</b> Retrieve data from midnight of 7 days ago until the current time.</li><li><b>last_30_days</b> Retrieve data from midnight of 30 days ago until the current time.</li><li><b>last_90_days</b> Retrieve data from midnight of 90 days ago until the current time.</li><li><b>month_to_date</b> Retrieve data from midnight of the first day of the month until the current time.</li><li><b>custom</b> Specify a custom time range using two additional parameters: start and end.<br/>Results are provided for full days only, starting from midnight. A time range of less than 24 hours gives results for the full day.<br/>For example:<ul><li>A time range of 14:00 - 20:00 yesterday gives results for all of yesterday (midnight to midnight) - a full day.</li><li>A time range of 14:00 last Tuesday to 14:00 last Wednesday gives results for all of Tuesday and Wednesday - two full days.</li> <li>A time range of 14:00 yesterday to 14:00 today gives results for all of yesterday starting from midnight until the current time today.</li></ul></li></ul>",
          "schema" : {
            "type" : "string"
          },
          "example" : 1610356734
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>2 - Invalid input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/InfraEventsApiResponse"
                  }, {
                    "$ref" : "#/components/schemas/ApiResult"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/api/integration/v1/ips" : {
      "post" : {
        "tags" : [ "Integrations" ],
        "summary" : "Get Imperva IP Ranges",
        "description" : "Use this operation to get the updated list of Imperva IP ranges. This list may be used to define firewall rules that restrict access to customers sites from non-Imperva IPs.",
        "operationId" : "getIPRanges",
        "parameters" : [ {
          "name" : "resp_format",
          "in" : "query",
          "description" : "Response format.<br/>Possible values: json | apache | nginx | iptables | text<br/>Default: json",
          "schema" : {
            "type" : "string"
          },
          "example" : "json"
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>14001 - Format invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/ApiResultIncapsulaRanges"
                  }, {
                    "$ref" : "#/components/schemas/ApiResult"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/api/integration/v1/texts" : {
      "post" : {
        "tags" : [ "Integrations" ],
        "summary" : "Get Texts",
        "description" : "Use this operation to retrieve a list of all text messages that may be part of API responses. For each message a key and a value are provided. The key is the unique identifier of the message and the value is the message text itself, in the API's default locale (English).",
        "operationId" : "getTexts",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiResultGetTexts"
                }
              }
            }
          }
        }
      }
    },
    "/api/integration/v1/geo" : {
      "post" : {
        "tags" : [ "Integrations" ],
        "summary" : "Get Geographical Info",
        "description" : "Use this operation to retrieve a list of all the countries and continents codes.",
        "operationId" : "getGeoInfo",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GeoInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/integration/v1/clapps" : {
      "post" : {
        "tags" : [ "Integrations" ],
        "summary" : "Get Client Applications Info",
        "description" : "Use this operation to retrieve a list of all the client applications.",
        "operationId" : "getClappsInfo",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiResultGetClappsInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/sites/lp/configure" : {
      "post" : {
        "tags" : [ "Login Protect" ],
        "summary" : "Add Login Protect User",
        "description" : "Use this operation to change Login Protect settings for a site.",
        "operationId" : "modifyLpSiteConfiguration",
        "parameters" : [ {
          "name" : "site_id",
          "in" : "query",
          "description" : "Numeric identifier of the site to operate on.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 10
        }, {
          "name" : "enabled",
          "in" : "query",
          "description" : "Pass true to enable login protect on site, and false to disable it.<br/>Default: true",
          "schema" : {
            "type" : "boolean"
          },
          "example" : true
        }, {
          "name" : "specific_users_list",
          "in" : "query",
          "description" : "Comma separated email list to set login protect users for the site. If the list is empty all users will be allowed to access the site using Login Protect.",
          "schema" : {
            "type" : "string"
          },
          "example" : "admin@example.com"
        }, {
          "name" : "send_lp_notifications",
          "in" : "query",
          "description" : "Pass true to send notification on successful login using login protect.<br/>Default: false",
          "schema" : {
            "type" : "boolean"
          },
          "example" : true
        }, {
          "name" : "allow_all_users",
          "in" : "query",
          "description" : "Pass true to allow all login protect users to access the site. If you want to allow only a specific list of users to access the site using Login Protect set this to false, and add the list to specific_user_list.<br/>Default: true",
          "schema" : {
            "type" : "boolean"
          },
          "example" : true
        }, {
          "name" : "authentication_methods",
          "in" : "query",
          "description" : "Comma separated list of allowed authentication methods: sms | email | ga",
          "schema" : {
            "type" : "string"
          },
          "example" : "sms"
        }, {
          "name" : "urls",
          "in" : "query",
          "description" : "A comma separated list of resource paths. For example, /home and /admin/index.html are resource paths, while <a href=\"http://www.example.com/home\">http://www.example.com/home</a> is not. Each URL should be encoded separately using percent encoding as specified by RFC 3986 (<a href=\"http://tools.ietf.org/html/rfc3986#section-2.1\">http://tools.ietf.org/html/rfc3986#section-2.1</a>). An empty URL list will remove all URLs.",
          "schema" : {
            "type" : "string"
          },
          "example" : "/home"
        }, {
          "name" : "url_patterns",
          "in" : "query",
          "description" : "A comma separated list of url patterns. Possible values: contains | equals | prefix | suffix | not_equals | not_contain | not_prefix | not_suffix. The patterns should be in accordance with the matching urls sent by the urls parameter.",
          "schema" : {
            "type" : "string"
          },
          "example" : "prefix"
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>9413 - Unknown/unauthorized site_id</br>18001 - Format invalid<br/>18002 - Application invalid<br/>18011 - Invalid SMS Text<br/>9403 - Unknown/unauthorized account_id<br/>1001 - E-mail invalid<br/>18003 - Invalid phone number",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/ApiResultSiteStatus"
                  }, {
                    "$ref" : "#/components/schemas/ApiResult"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/sites/lp/configure-app" : {
      "post" : {
        "tags" : [ "Login Protect" ],
        "summary" : "Configure Login Protect on Admin Areas",
        "description" : "Use this operation to configure Login Protect on wordpress | joomla | phpbb admin areas.",
        "operationId" : "configureProtectedAppByLp",
        "parameters" : [ {
          "name" : "site_id",
          "in" : "query",
          "description" : "Numeric identifier of the site to operate on.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 10
        }, {
          "name" : "protected_app",
          "in" : "query",
          "description" : "Protect admin areas of joomla | wordpress | phpBB.",
          "schema" : {
            "type" : "string"
          },
          "example" : "wordpress"
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:<br/>9413 - Unknown/unauthorized site_id<br/>18001 - Format invalid<br/>18002 - Application invalid<br/>18011 - Invalid SMS Text<br/>9403 - Unknown/unauthorized account_id<br/>1001 - E-mail invalid<br/>18003 - Invalid phone number",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "$ref" : "#/components/schemas/ApiResultSiteStatus"
                  }, {
                    "$ref" : "#/components/schemas/ApiResult"
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/api/prov/v1/sites/lp/add-user" : {
      "post" : {
        "tags" : [ "Login Protect" ],
        "summary" : "Add Login Protect User",
        "description" : "Use this operation to add a Login Protect user for a site.",
        "operationId" : "addLpUser",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "Numeric identifier of the account to operate on.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 10
        }, {
          "name" : "email",
          "in" : "query",
          "description" : "Email address.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "admin@example.com"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Example: John Smith",
          "schema" : {
            "type" : "string"
          },
          "example" : "John Smith"
        }, {
          "name" : "phone",
          "in" : "query",
          "description" : "Phone number. For example: \"1-8662507659\"",
          "schema" : {
            "type" : "string"
          },
          "example" : "1-8662507659"
        }, {
          "name" : "is_phone_verified",
          "in" : "query",
          "description" : "Whether or not to skip phone verification.",
          "schema" : {
            "type" : "boolean"
          },
          "example" : true
        }, {
          "name" : "is_email_verified",
          "in" : "query",
          "description" : "Whether or not to skip email address verification.",
          "schema" : {
            "type" : "boolean"
          },
          "example" : true
        }, {
          "name" : "should_send_activation_email",
          "in" : "query",
          "description" : "Whether or not to send activation email to user.",
          "schema" : {
            "type" : "boolean"
          },
          "example" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "res - contains the specific error code:</br>9403 - Unknown/unauthorized account_id<br/>1001 - E-mail invalid</br>18005 - Login Protect User Exists</br>18006 - Operation Not Allowed</br>18009 - Not Supported Action<br/>18004 - Failed to Send E-Mail",
            "content" : {
[...]
