
body { font: 62.5% "Trebuchet MS", sans-serif; font-size: 10px;  
	background: url('../images/bg_grad.jpg') top repeat-x #5d5d5d; margin: 0; min-height: 100%; }
#wrapper { margin: 0 auto; position: relative; width: 100%; }
#header { background: url('../images/bg_head.png') top right no-repeat; background-size: auto; padding: 25px 0px 0px 25px; height: 105px; }
/* #header { background: url('../images/bg_head_cut.png') top right no-repeat; background-size: auto; padding: 25px 0px 0px 25px; height: 105px; } */
#logo { background: url('../images/imperva-logo.svg') center center no-repeat; width:300px; height:75px;  }

#dialog_link {padding: .4em 1em .4em 20px; text-decoration: none; position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}
.overlay { opacity: 0.3; }
.button { float:right; }
.aarowBtn { text-decoration: none; }
.btn { float:right; }
.info {
    background: url('../images/icon_info_16x16.jpg') center center no-repeat;
    display: inline-block;
    padding: 16px 16px 0px 0px;
}

.array_object { border: 1px solid #ccc; }
.array_object textarea {
	width: -webkit-calc(100% - 4px);
    width:    -moz-calc(100% - 4px);
    width:         calc(100% - 4px);
}
/* .array_object a.toggle_param_link { float: left; } */

.wrap1, .wrap2, .wrap3 { display:inline-table; /* \*/display:block;/**/ }
.wrap1 { float:left; background:url('../images/shadow/shadow.gif') right bottom no-repeat; }
.wrap2 { background:url('../images/shadow/corner_bl.gif') left bottom no-repeat; }
.wrap3 { padding:0 4px 4px 0; background:url('../images/shadow/corner_tr.gif') right top no-repeat;  }
.wrap3 div { display:block; }

#contentWrapper h1 { padding:7px 15px 10px 15px; margin:0px; }
#contentWrapper .content { padding: 15px 15px 5px; overflow: auto; }
#contentWrapper .footer { padding: 0 15px; }
#contentWrapper .footer { padding: 0 15px; }
#contentWrapper div.colL { float:left; display: block; width: 400px; }
#contentWrapper div.colR { float:right; display: block; width: auto; text-align: left; }
#sites table.data { width:100%; }
#sites p { margin: 0px; padding:0px; }

#thumbWrapper { text-align:right; padding: 10px 0 0; }
#thumbWrapper img { border: 1px solid #ccc; }
#filterDialog { display: none; }
#filterDialog table { text-align: left; }
#filterDialog #filterDialog_allowedOperators { width: 60px; }
#destAccountTbl { margin: 10px 10px 0px 10px; width: 100%; }
#destAccountTbl td { padding: 0px 5px; }

#manageSSCredentials, #manageCredentials { display:none; padding: 10px 0px 0px 0px; }
#manageSSCredentials input, #manageCredentials input { margin: 2px 0px; }
#manageSSCredentialsBtn, #manageCredentialsBtn { text-decoration: none; }
#manageSSCredentialsBtn span, #manageCredentialsBtn span { text-decoration: underline; }

.section { display:block; float:left; padding: 0 0 5px; }
.formbox, .formbox2, .formbox3, .formbox4 { display:block; float:left; padding: 0 0 15px; }
.formbox label, .formbox2 label, .formbox3 label, .formbox4 label, .section { 
	/*text-align: right; display: block; float: left; padding: 4px 5px 5px 0; */
}
.content p { padding: 0px 0px 10px 0px; }

.formbox { }
.formbox2 { padding:10px; }
.formbox2 label { width: 100px; }
.formbox2 input { width: 350px; }
.formbox3 { width: 302px; }
.formbox3 label { width: 85px; }
.formbox3 input { width: 190px; }
.formbox4 { width: 231px; }
.formbox4 label { width: 55px; }
.formbox4 input { width: 140px; }
.formbox label { width: 100%; }
.formbox input { width: 100%; }
input.listInput { background:url('../images/down.png') right center no-repeat; padding-right: 10px; }

#dnsWrapper span.label { display: block; float: left; text-align: right; padding: 4px 5px 5px 0; width: 85px; font-weight:bold; }
#dnsWrapper span { display: block; float: left; padding: 4px 5px 5px 0; width: 190px; }

.disabled { color:#444; opacity: 0.5; filter: alpha(opacity=50); }
.content input.disabled { padding: 3px; border: #ccc 1px solid; } 
.content input.disabled:focus { color: #000; border-color: #999999; } 

fieldset { padding: 0; }

fieldset legend {
	padding:5px 10px 5px;
	font-weight:bold;
}

.loading {
	background:url('../images/loading.gif') right center no-repeat;
}

/*  Growl Styles  */
.growl_error {
	font: 16px Arial,Helvetica,sans-serif;
	width:60%;
}
.growl_error p {
	color:#ccc;
	padding-left:225px;
}
.growl_error span { color:red; font-weight:bold; }

/* tablesorter*/
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
	font-size: 12px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	padding: 4px;
	white-space: nowrap;
}
table.tablesorter thead tr .header {
	background-image: url('../images/tablesort/blue/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	/*color: #3D3D3D;*/
	color: #000;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url('../images/tablesort/blue/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
	background-image: url('../images/tablesort/blue/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
.adc { background: #E6E6FA; }

/*grey #DCDCDC */

/* Site Templates */
table th.min, table td.min { width:24px; }
.template { display:none; }

.error { color: red; padding: 2px 0 3px 0px; border: 2px solid red; }
.errors { color: red; background:url('../images/error.jpg') left top no-repeat; padding: 2px 0 3px 12px; border: 2px solid red; }
.highlight { padding: 2px 0 3px 0px; border: 2px solid orange; }
#requestUrl.errors { width:498px !important; background:url('../images/error.jpg') left top no-repeat; }
textarea#SSrequestUrl { height:45px; resize:none; }
textarea#SScurlUrl { height:45px; resize:none; }
.invalid { background-color: red; color: white; padding: 0.15em; border-radius: 0.4em; }
input.text { width:200px; }
select { width: 200px; }
select#dest_site_id { width: auto; }
select.min { width: 175px; }
select.multiPolicy { height: 505px; }
.unsupported { color:red; }
textarea { width:510px; height:200px; }
#SSJSONparams textarea { height: auto; resize:none; overflow: auto; }
.textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: auto;
    padding: 2px;
    resize: both;
} 

#requestUrl { width:510px; }
.tableColL { width: 350px; }
table.top td { vertical-align: top; }
label { font-weight: bold; white-space: nowrap; }
fieldset { margin: 0px 0px 10px 0px; padding: 10px; border-color:#0000A0; }
legend { margin: 0px 0px 0px 10px; font-size: 1.5em; color: #0000A0; }
#sites legend { font-size: 1.25em; }
.ui-icon { display: inline-block; }
ul.ui-autocomplete { overflow: scroll; max-height: 280px; height: auto; }

.ui-tabs-vertical { width: 100%; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 13em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; 
	border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; width: 100%; }

#header_bar {
	background: #111;
	border: 1px solid #FFF;
	color:#FFF;
	width: -webkit-calc(100% - 2px);
    width:    -moz-calc(100% - 2px);
    width:         calc(100% - 2px);
}
.ui-widget-header {
	border: 1px solid #999;
}
.ui-tabs-nav .ui-state-hover {
	border: 1px solid #999;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: #111;
	border: 1px solid #111;
}

/* input.datepicker { width: 240px; } */

#settingsNav li span {
	padding: 8px 0px 8px 5px; display: block; 
}
#settingsNav table { width: auto; }
#settingsNav #incap_site_groups, 
#settingsNav #incap_policy_groups, 
#settingsNav #incap_user_groups, 
#settingsNav #incap_users { width: 600px; } 
#settingsNav thead { text-align: left; }
#settingsNav td { margin: 1px; }
.usrattr { border: 1px solid #fff ; }
#settingsNav td.editable { border: 1px solid #D3D3D3 ; }
#settingsNav #incap_site_groups_tbl .group_site_settings select { width: auto; }
#settingsNav #incap_site_groups_tbl .group_site_settings label { text-align: right; width: 105px; display: inline-block; }
#incap_policies fieldset { width: 97%; }
#incap_ACL_WAF_rules .ACL_WAF_rule_definition,
#incap_policies .policy_definition { word-break: break-all; }
#incap_policies textarea.policy_definition { width: 100%; height: 60px; } 
#incap_ACL_WAF_rules input,
#incap_policies input { width: 95%; } 
#incap_users input { width: 65px; }
#incap_users input.api_key { width: 245px; }
#incap_policies .policy_name { white-space: nowrap; }
#incap_ACL_WAF_groups tr td, 
#incap_site_groups tr td, 
#incap_policy_groups tr td, 
#incap_user_groups_tbl tr td { padding: 5px 0px; }
#incap_site_group_btns, 
#incap_policy_group_btns, 
#incap_user_group_btns { float:right; }
#incap_migrationPolicyRuleConfigDiv { width: 800px; }
#incap_migrationPolicyRuleConfigTbl { width: auto; border: 1px solid #999; margin-top: 10px; }
#incap_migrationPolicyRuleConfigTbl tr { }
#incap_migrationPolicyRuleConfigTbl tbody th { padding: 8px 10px; }
#incap_migrationPolicyRuleConfigTbl tbody td { border-top: solid 1px #ccc; padding: 8px 10px; }
#incap_migrationPolicyRuleConfigTbl .migRuleConfig { width: 200px; }
#incap_migrationPolicyRuleConfigTbl label { width: 105px; text-align: right; display: inline-block; margin-right: 5px; }
#incap_ACL_WAF_groups_tbl h3 { background: #ccc; padding: 5px 5px 5px 15px; text-align: center; }
#incap_ACL_WAF_rules textarea.ACL_WAF_rule_definition { width: 100%; height: 60px; } 
#incap_ACL_WAF_rules fieldset { width: 97%; }
#incap_ACL_WAF_groups,
#incap_ACL_WAF_groups fieldset { width: auto; max-width: 97%; }
#incap_migrationToolbar_config { display: inline; }
#incap_migrationToolbar_action { display: inline; }
#settingsNav #incap_ACL_WAF_groups { width: auto; max-width: 97%; }
#settingsNav #incap_ACL_WAF_groups label { text-align: right; float: right; padding-right: 5px; width: 220px; }
#settingsNav #incap_ACL_WAF_groups select { width: auto; }
#settingsNav #incap_site_groups_tbl select.multi, 
#settingsNav #incap_ACL_WAF_groups select.multi, 
#settingsNav #incap_policy_groups select.multi, 
#settingsNav #incap_user_groups select.multi { width: 275px; height: 150px; }
#migrationTools label.header { width: 300px; }
#migrationToolsButtons { float: right; padding: 6px 0px 0px 0px; }
td select.auto { width: auto; }
.nobr { white-space: nowrap; }
#incap_eventLogs span { /*font-family: "Open Sans",arial,x-locale-body,sans-serif;*/ color:#999;}
#incap_eventLogs span.code { font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace; color:#333; }
#incap_eventLogs .res_error { color:red; font-weight: bold; }

#incapSitesPageNum { width:auto; }